<div id="contentarea_1">
  <div class="section04">
    <div class="section04_inner">
      <div class="left_text_section">
        <div class="box01"><%= image_tag "choose-from-230games.png", alt:"" %></div>
        <div class="clr"></div>
        <p>Try your hand at hundreds of  classic and video animated games, right here at your fingertips!</p>
      </div>
      <div class="rightdisplay_section">
        <h3>game of the week</h3>
        <div class="img-frame">
          <!--<%= image_tag "game-powerjackpot.jpg", alt:"" %>-->
          <a href="<%= game_play_url %>"><%= image_tag "games/texas_holdem.gif", height:"100%", width:"484px", alt:"" %></a>
          <% render partial: "home/game_no_text" %>

        </div>
        <div class="playnow01"><a href="<%= game_play_url %>">
          <%= image_tag "game-playnow-btn.png", alt:"Play Now" %>
        </a></div>
      </div>
    </div>
  </div>
  <div class="section03">
    <%= image_tag "heart-shape.png", class:"heartshape", alt:"" %>
    <div class="sub_section01">
      <div class="try_mobileversion"><%= image_tag "try-mobile.png", alt:"" %>
        <!--<h5>Available at iStore.</h5>-->
      </div>
      <div class="title_section"><h3>Choose form <span class="boldtxt">Sloth Progressive Games</span></h3>
        <div class="blog_counter">10</div>
      </div>
      <div class="sec_desc"><p>Each time sany of players plays a progressive jackpot game, the  prize value increases. Mauris volutpat auctor sodales. Aenean ullamcorper vestibulum tellus, nec volutpat tellus vulputate vitae. Pellentesque porta elementum velit ut molestie. Integer in dolor eu ligula imperdiet fermentum sed eget ante. Nullam condimentum aliquam vestibulum.</p>
        <p>Aliquam ut magna arcu, quis suscipit ipsum. Proin interdum egestas lacus nec sagittis. Duis ullamcorper vehicula porta. Quisque sit amet dolor lacus, quis pellentesque dui.</p>
      </div>
    </div>

    <div class="sub_section02">
      <!--tab start -->

      <div class="tab_box">
        <div class="tab_content" style="width:633px;">
          <div class="sort_tabsection">
            <ul>
              <li><a href="JavaScript:void(0);" class="select">Popular games</a></li>
              <li><a href="JavaScript:void(0);">New games</a></li>
              <li><a href="JavaScript:void(0);">Best bonus</a></li>
              <li><a href="JavaScript:void(0);">A-Z</a></li>
            </ul>
          </div>
        </div>
        <div class="clr"></div>
        <div class="tab_details">
          <!--tab news start -->
          <div class="tab_inner active">
            <div class="sorted_display">
              <ul>
                <li>
                  <div class="game_img"><%= image_tag "sl1.jpg", alt:"" %></div>
                  <div class="game_price">€1,594,499.95</div>
                </li>
                <li>
                  <div class="game_img"><%= image_tag "sl2.jpg", alt:"" %></div>
                  <div class="game_price">€24,807,368</div>
                </li>
                <li>
                  <div class="game_img"><%= image_tag "sl3.jpg", alt:"" %></div>
                  <div class="game_price">€335,001,21</div>
                </li>
                <li>
                  <div class="game_img"><%= image_tag "sl4.jpg", alt:"" %></div>
                  <div class="game_price">€548,874,20</div>
                </li>
                <li>
                  <div class="game_img"><%= image_tag "sl5.jpg", alt:"" %></div>
                  <div class="game_price">€2,259,47</div>
                </li>
                <li>
                  <div class="game_img"><%= image_tag "sl6.jpg", alt:"" %></div>
                  <div class="game_price">€1,594,499.95</div>
                </li>
                <li>
                  <div class="game_img"><%= image_tag "sl7.jpg", alt:"" %></div>
                  <div class="game_price">€24,807,368</div>
                </li>
                <li>
                  <div class="game_img"><%= image_tag "sl8.jpg", alt:"" %></div>
                  <div class="game_price">€335,001,21</div>
                </li>
                <li>
                  <div class="game_img"><%= image_tag "sl9.jpg", alt:"" %></div>
                  <div class="game_price">€548,874,20</div>
                </li>
                <li>
                  <div class="game_img"><%= image_tag "sl10.jpg", alt:"" %></div>
                  <div class="game_price">€2,259,47</div>
                </li>
              </ul>
              <div class="clr"></div>
            </div>
          </div>
          <!--tab news end -->
          <!--tab comment start -->
          <div class="tab_inner">
            <div class="sorted_display">
              <ul>
                <li>
                  <div class="game_imgpink"><%= image_tag "sl11.jpg", alt:"" %></div>
                  <div class="game_price">€1,594,499.95</div>
                </li>
                <li>
                  <div class="game_imgpink"><%= image_tag "sl12.jpg", alt:"" %></div>
                  <div class="game_price">€24,807,368</div>
                </li>
                <li>
                  <div class="game_imgpink"><%= image_tag "sl13.jpg", alt:"" %></div>
                  <div class="game_price">€335,001,21</div>
                </li>
                <li>
                  <div class="game_imgpink"><%= image_tag "sl14.jpg", alt:"" %></div>
                  <div class="game_price">€548,874,20</div>
                </li>
                <li>
                  <div class="game_imgpink"><%= image_tag "sl15.jpg", alt:"" %></div>
                  <div class="game_price">€2,259,47</div>
                </li>
                <li>
                  <div class="game_imgpink"><%= image_tag "sl16.jpg", alt:"" %></div>
                  <div class="game_price">€1,594,499.95</div>
                </li>
                <li>
                  <div class="game_imgpink"><%= image_tag "sl17.jpg", alt:"" %></div>
                  <div class="game_price">€24,807,368</div>
                </li>
                <li>
                  <div class="game_imgpink"><%= image_tag "sl18.jpg", alt:"" %></div>
                  <div class="game_price">€335,001,21</div>
                </li>
                <li>
                  <div class="game_imgpink"><%= image_tag "sl19.jpg", alt:"" %></div>
                  <div class="game_price">€548,874,20</div>
                </li>

              </ul>
              <div class="clr"></div>
            </div>
          </div>
          <!--tab comment end -->
          <!--tab comment start -->
          <div class="tab_inner">
            <div class="sorted_display">
              <ul>
                <li>
                  <div class="game_imggreen"><%= image_tag "sl19.jpg", alt:"" %></div>
                  <div class="game_price">€1,594,499.95</div>
                </li>
                <li>
                  <div class="game_imggreen"><%= image_tag "sl13.jpg", alt:"" %></div>
                  <div class="game_price">€24,807,368</div>
                </li>
                <li>
                  <div class="game_imggreen"><%= image_tag "sl8.jpg", alt:"" %></div>
                  <div class="game_price">€335,001,21</div>
                </li>
                <li>
                  <div class="game_imggreen"><%= image_tag "sl6.jpg", alt:"" %></div>
                  <div class="game_price">€548,874,20</div>
                </li>
                <li>
                  <div class="game_imggreen"><%= image_tag "sl11.jpg", alt:"" %></div>
                  <div class="game_price">€2,259,47</div>
                </li>
                <li>
                  <div class="game_imggreen"><%= image_tag "sl3.jpg", alt:"" %></div>
                  <div class="game_price">€1,594,499.95</div>
                </li>
                <li>
                  <div class="game_imggreen"><%= image_tag "sl4.jpg", alt:"" %></div>
                  <div class="game_price">€24,807,368</div>
                </li>
                <li>
                  <div class="game_imggreen"><%= image_tag "sl18.jpg", alt:"" %></div>
                  <div class="game_price">€335,001,21</div>
                </li>

              </ul>
              <div class="clr"></div>
            </div>
          </div>
          <!--tab comment end -->
          <!--tab comment start -->
          <div class="tab_inner">
            <div class="sorted_display">
              <ul>
                <li>
                  <div class="game_imgsky"><%= image_tag "sl4.jpg", alt:"" %></div>
                  <div class="game_price">€1,594,499.95</div>
                </li>
                <li>
                  <div class="game_imgsky"><%= image_tag "sl10.jpg", alt:"" %></div>
                  <div class="game_price">€24,807,368</div>
                </li>
                <li>
                  <div class="game_imgsky"><%= image_tag "sl2.jpg", alt:"" %></div>
                  <div class="game_price">€335,001,21</div>
                </li>
                <li>
                  <div class="game_imgsky"><%= image_tag "sl15.jpg", alt:"" %></div>
                  <div class="game_price">€548,874,20</div>
                </li>
                <li>
                  <div class="game_imgsky"><%= image_tag "sl6.jpg", alt:"" %></div>
                  <div class="game_price">€2,259,47</div>
                </li>
                <li>
                  <div class="game_imgsky"><%= image_tag "sl7.jpg", alt:"" %></div>
                  <div class="game_price">€1,594,499.95</div>
                </li>
                <li>
                  <div class="game_imgsky"><%= image_tag "sl9.jpg", alt:"" %></div>
                  <div class="game_price">€24,807,368</div>
                </li>

              </ul>
              <div class="clr"></div>
            </div>
          </div>
          <!--tab comment end -->
        </div>
      </div>

      <!--tab end -->
    </div>

    <div class="clr"></div>
  </div>

  <!--<div class="section05">-->
    <!--<div class="section05_inner">-->
      <!--<% image_tag "heart-shape.png", alt:"", class:"karoshape" %>-->
      <!--<div class="download_sec">-->
        <!--<div class="download_innertext"><p><span>Download FREE software</span><br>-->
          <!--and play Progressive Slots now. </p></div>-->
      <!--</div>-->
      <!--<p class="downtxt">In order to participate in the thrills of progressive jackpot games, players will need to download the full casino software, as progressive jackpot games are not available to enjoy in the Flash Lite Play version of the casino. </p>-->
    <!--</div>-->
  <!--</div>-->
</div>

