<div id="contentarea_1">
  <div class="section03">
    <%= image_tag "heart-shape.png", class:"heartshape", alt:"" %>
    <div class="left_content">
      <h2 class="title">Start the <strong>best gaming experience</strong></h2>
      <!--<p><span class="boldtxt">Lorem ipsum dolor sit amet</span>, consectetur adipiscing elit. Sed ultrices convallis risus, a tincidunt augue imperdiet non. Proin ultricies facilisis magna ut gravida. Nam vehicula lacus vitae nibh hendrerit luctus. Nam lacinia egestas neque sit amet eleifend. Nulla tempor placerat sodales. Proin dolor nisl, pulvinar quis molestie eu, commodo eget massa. Duis viverra magna quis ante semper nec volutpat arcu cursus. </p>-->

      <!--<p>Maecenas mollis molestie elit, vitae ultrices erat vehicula nec. Integer fermentum lacinia eleifend. Nam pharetra luctus diam eu dictum. Nunc in nibh eu elit tristique facilisis sit amet nec lectus. Donec id interdum metus. Curabitur tristique gravida odio quis rutrum.  <span class="boldtxt">Phasellus imperdiet sapien</span> vel ligula hendrerit non tincidunt est congue. Duis id dolor erat. Sed laoreet consequat nisi, vel gravida enim pharetra vitae. Sed imperdiet massa ac augue consequat laoreet. Donec molestie eros diam, vitae vulputate leo.</p>-->
      <%= render partial: "home/game" %>


      <!--<div class="imgbox01">-->
        <!--<% image_tag "texas_holdem.gif", class:"", width:"100%", alt:"" %>-->
        <!--<% image_tag "ipad-iphone.png", alt:"" %>-->
      <!--</div>-->
      <!--<div class="banner01">-->
        <!--<p>The <strong>PowerJackpot play software is free</strong>,<br>-->
          <!--and takes few minutes to get started. </p>-->
      <!--</div>-->
      <!--<p><span class="boldtxt">Lorem ipsum dolor sit amet</span>, consectetur adipiscing elit.</p>-->
      <!--<p>Sed ultrices convallis risus, a tincidunt augue imperdiet non. Proin ultricies facilisis magna ut gravida. Nam vehicula lacus vitae nibh hendrerit luctus. Nam lacinia egestas neque sit amet eleifend. Nulla tempor placerat sodales. Proin dolor nisl, pulvinar quis molestie eu, commodo eget massa. Duis viverra magna quis ante semper nec volutpat arcu cursus. </p>-->
    </div>
    <div class="rightside_section">
      <div class="rightboxes">
        <div class="live_casino">
          <div class="casino_title"><h3>LIVE CASINO</h3></div>
          <div class="casino_text"><p>Start playing and get<br>FREE money. </p></div>
          <div class="offer_bonus_text"><%= image_tag "welcome-bonus.png", alt:"" %></div>
        </div>
      </div>
      <div class="rightboxes">
        <div class="popular_games">
          <div class="title_sec"><h3>POPULAR GAMES</h3></div>
          <table>
            <tbody><tr>
              <td>
                <div class="flip-container">
                  <div class="flipper">
                    <div class="front"><a href="#"><%= image_tag "g1-b.jpg", alt:"" %></a></div>
                    <div class="back"><a href="#"><%= image_tag "g1.jpg", alt:"" %></a></div>
                  </div>
                </div>
              </td>

              <td>
                <div class="flip-container">
                  <div class="flipper">
                    <div class="front"><a href="#"><%= image_tag "g2-b.jpg", alt:"" %></a></div>
                    <div class="back"><a href="#"><%= image_tag "g2.jpg", alt:"" %></a></div>
                  </div>
                </div>
              </td>
            </tr>

            <tr>
              <td>
                <div class="flip-container">
                  <div class="flipper">
                    <div class="front"><a href="#"><%= image_tag "g3-b.jpg", alt:"" %></a></div>
                    <div class="back"><a href="#"><%= image_tag "g3.jpg", alt:"" %></a></div>
                  </div>
                </div>
              </td>

              <td>
                <div class="flip-container">
                  <div class="flipper">
                    <div class="front"><a href="#"><%= image_tag "g4-b.jpg", alt:"" %></a></div>
                    <div class="back"><a href="#"><%= image_tag "g4.jpg", alt:"" %></a></div>
                  </div>
                </div>
              </td>
            </tr>
            <tr>
              <td>
                <div class="flip-container">
                  <div class="flipper">
                    <div class="front"><a href="#"><%= image_tag "g6-b.jpg", alt:"" %></a></div>
                    <div class="back"><a href="#"><%= image_tag "g6.jpg", alt:"" %></a></div>
                  </div>
                </div>
              </td>

              <td>
                <div class="flip-container">
                  <div class="flipper">
                    <div class="front"><a href="#"><%= image_tag "g5-b.jpg", alt:"" %></a></div>
                    <div class="back"><a href="#"><%= image_tag "g5.jpg", alt:"" %></a></div>
                  </div>
                </div>
              </td>
            </tr>
            </tbody></table>
          <div class="bottom_sec">26 Card games</div>
        </div>
      </div>
<!--
      <div class="rightboxes">
        <div class="top_jackpot">
          <div class="title_sec"><h3>TOP JACKPOT</h3></div>
          <div id="top_jackpot_text" style="overflow: hidden; position: relative; height: 270px;">
            <ul style="position: absolute; margin: 0px; padding: 0px; top: 0px;">
              <li style="margin: 0px; padding: 0px; height: 54px; display: list-item;">
                <div class="box_number">6.</div>
                <div class="box_img"><a href="#"><%= image_tag "s1.jpg", alt:"" %></a></div>
                <a href="#"><h5>Mega Moolah Isis</h5></a>
              </li><li style="margin: 0px; padding: 0px; height: 54px; display: list-item;">
              <div class="box_number">7.</div>
              <div class="box_img"><a href="#"><%= image_tag "s2.jpg", alt:"" %></a></div>
              <a href="#"><h5>Mega Moolah</h5></a>
            </li><li style="margin: 0px; padding: 0px; height: 54px; display: list-item;">
              <div class="box_number">8.</div>
              <div class="box_img"><a href="#"><%= image_tag "s3.jpg", alt:"" %></a></div>
              <a href="#"><h5>Arabian Nights</h5></a>
            </li><li style="margin: 0px; padding: 0px; height: 54px; display: list-item;">
              <div class="box_number">9.</div>
              <div class="box_img"><a href="#"><%= image_tag "s4.jpg", alt:"" %></a></div>
              <a href="#"><h5>Solo Alladin</h5></a>
            </li><li style="margin: 0px; padding: 0px; height: 54px; display: list-item;">
              <div class="box_number">10.</div>
              <div class="box_img"><a href="#"><%= image_tag "s5.jpg", alt:"" %></a></div>
              <a href="#"><h5>Nola for Fun</h5></a>
            </li><li style="margin: 0px; padding: 0px; height: 54px; display: list-item;">
              <div class="box_number">1.</div>
              <div class="box_img"><a href="#"><%= image_tag "s1.jpg", alt:"" %></a></div>
              <a href="#"><h5>Mega Moolah Isis</h5></a>
            </li><li style="margin: 0px; padding: 0px; height: 54px; display: list-item;">
              <div class="box_number">2.</div>
              <div class="box_img"><a href="#"><%= image_tag "s2.jpg", alt:"" %></a></div>
              <a href="#"><h5>Mega Moolah</h5></a>
            </li><li style="margin: 0px; padding: 0px; height: 54px; display: list-item;">
              <div class="box_number">3.</div>
              <div class="box_img"><a href="#"><%= image_tag "s3.jpg", alt:"" %></a></div>
              <a href="#"><h5>Arabian Nights</h5></a>
            </li><li style="margin: 0px; padding: 0px; height: 54px; display: list-item;">
              <div class="box_number">4.</div>
              <div class="box_img"><a href="#"><%= image_tag "s4.jpg", alt:"" %></a></div>
              <a href="#"><h5>Solo Alladin</h5></a>
            </li><li style="margin: 0px; padding: 0px; height: 54px; display: list-item;">
              <div class="box_number">5.</div>
              <div class="box_img"><a href="#"><%= image_tag "s5.jpg", alt:"" %></a></div>
              <a href="#"><h5>Nola for Fun</h5></a>
            </li></ul>
          </div>
        </div>
      </div>
-->
    </div>
    <div class="clr"></div>
  </div>
</div>