<div class="footer_section">

  <!--footer top section -->
  <div class="footersection-top">
    <div class="footertop_inner">

      <div class="social_media">
        <ul>
          <li><a href="#"><%= image_tag "media-fb.png", alt:"Facebook" %></a></li>
          <li><a href="#"><%= image_tag "media-twitter.png", alt:"twitter" %></a></li>
        </ul>
      </div>
      <div class="footerbox01">
        <!--<h3><% t("menu.title")%></h3>-->
        <ul>
          <li><a href="<%= root_path %>#home"><%=t("menu.home")%> </a></li>
          <li><a href="<%= games_path %>"><%=t("menu.games")%></a></li>
          <% if current_user %>
              <li><a href="<%= user_orders_path(current_user) %>"><%=t("menu.orders")%></a></li>
              <li><a href="<%= user_path(current_user) %>"><%=t("menu.profile")%></a></li>
              <li><a href="<%= signout_path %>"><%=t("menu.sign_out")%></a></li>
          <% else %>
              <li><a href="<%= sign_in_up_path %>"><%=t("menu.sign_in")%></a></li>
              <li><a href="<%= sign_in_up_path %>"><%=t("menu.sign_up")%></a></li>
              <li><a href="<%= root_path %>#credits"><%=t("menu.credits")%></a></li>
          <% end %>
        </ul>
      </div>
      <div class="footerbox02">
        <!--<h3>Safety of your account</h3>-->
        <!--<%= image_tag "safesecure-logo.jpg", alt:"Safe Secure Banking", class:"imgright" %>-->
        <!--<ul>-->
          <!--<li><a href="#">Fully certified casino</a></li>-->
          <!--<li><a href="#">Strictly regulated fair games</a></li>-->
          <!--<li><a href="#">Safe monetary deposits</a></li>-->
          <!--<li><a href="#">Award winning casino</a></li>-->
        <!--</ul>-->

        <ul>
          <!--<li><a href="#">About Us</a></li>-->
          <li><a href="<%= root_url %>privacypolicy.htm">Privacy Policy</a></li>
          <!--<li><a href="#">Responsible Gambling</a></li>-->
          <!--<li><a href="#">Terms and Conditions</a></li>-->
          <!--<li><a href="#">Sitemap</a></li>-->
          <!--<li><a href="#">Affiliate Program</a></li>-->
        </ul>
      </div>
    </div>
  </div>
  <!--footer top section -->
  <!--footer_section_bottom -->
  <div class="footer_section_bottom">
    <div class="footer_section_bottom_inner">&nbsp;
      <div class="footer_logo">
        <div class="logo_section">
          <% image_tag "footer-logo.png", alt:"" %>
          <%= image_tag "logo.png", width:"100%", alt:"" %>
        </div>
        <p class="copyright">All Rights Reserved, <%= Date.today.year %>.</p>
      </div>
      <div class="footer_bottomleftpart">
        <% image_tag "visa.jpg", alt:"" %>
      </div>
      <div class="footer_bottomrightpart">
        Powered by <a href="http://www.veterancreative.com/">Veteran Creative</a>
      </div>
      <div class="clr"></div>
    </div>
  </div>
  <!--footer_section_bottom -->
</div>