<% invite_url="#{root_url}sign_in_up?k=#{params[:id]}" %>
<div class="section03" id="credits">
  <%# image_tag "karo.png", class: "heartshape", alt: "" #%>

  <div class="sub_section03 sub_section03fw">
    <div id="fb-root"></div>

    <h2 style="color:black"><%= t("credit.s.fortune_wheel") %></h2>

    <div class="section_left section_left2">
      <!--<div class="title_section"><h3>Win credits <span class="boldtxt">via Fortune Wheel</span></h3></div>-->
      <div class="sec_desc">
        <!--<img src="assets/power-jackpot.png" alt="">-->
        <%= render partial: "shared/fortune_wheel" %>
        <!--<p><strong>Lorem ipsum dolor sit amet</strong>, consectetur adipiscing elit. Etiam at vestibulum quam. Maecenas iaculis elementum leo quis imperdiet. Aliquam et mauris sit amet metus tempor ultrices. Sed at magna nunc. Donec in quam tortor, quis eleifend erat. Nullam cursus sagittis facilisi</p>-->
        <!--<p>Etiam blandit, neque a venenatis tincidunt, erat nunc ornare augue, in facilisis nisl justo bibendum diam. Etiam quis quam felis. Proin quis quam magna.</p>-->
      </div>
    </div>

    <div class="section_right section_right2">

      <% if current_user.try(:provider) == 'facebook' %>
          <script>
              $(document).on('ready page:load page:change', function () {
                  (function (d, s, id) {
                      var js, fjs = d.getElementsByTagName(s)[0];
                      if (d.getElementById(id)) return;
                      js = d.createElement(s);
                      js.id = id;
                      js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.8&appId=535757289936191";
                      fjs.parentNode.insertBefore(js, fjs);
                  }(document, 'script', 'facebook-jssdk'));
              });
          </script>

          <!--<p style="color:black">You could invite your friend and-->
            <!--get <%= fcredits Rails.configuration.x.win_for_invite %> credits</p>-->

          <!--Please click on button below to continue <div class="fb-send" data-href="<%= invite_url %>"></div>-->
          <!--<div class="fb-send" data-href="https:/yourplaceforfun.com/sign_in_up?k=1"></div>-->
          <!--<p style="color:black"><%= link_to "(View Your Registered Friends)", invites_path %></p>-->

          <table>
            <tr>
              <td align="center">
                <h1 style="color:black">Please click on blue button to invite friend and get <%= fcredits Rails.configuration.x.win_for_invite %> credits</h1>
              </td>
            </tr>
            <tr>
              <td>
                <div class="fb-send" data-href="<%= invite_url %>"></div>
                <div class="fb-send" data-href="https:/yourplaceforfun.com/sign_in_up?k=1"></div>
              </td>
            </tr>
            <tr>
              <td colspan="2" align="center">
                <%= link_to "[ View your registered friends and earned credits ]", invites_path %>
              </td>
            </tr>
          </table>

      <% end %>

      <% if @creditList.present? && @creditList.any? %>
          <% if current_user
               class_list = "credits"
               btn_label = "Buy"
               url = user_orders_path(current_user)
             else
               class_list = "credits_big"
               btn_label = "Login and Buy"
               url = signin_path
             end %>
          <table class="contact_table ">
            <thead>
            <tr>
              <th>$</th>
              <th>credits</th>
              <th>action</th>
            </tr>
            </thead>
            <tbody>
            <% @creditList.each do |credit| %>
                <%= render partial: "orders/form_btn_buy", locals: {object: credit.try(:order) || @order, credit: credit, btn_label: btn_label} %>
            <% end %>
            </tbody>
            <tfoot>
            <tr>
              <td colspan="3"></td>
            </tr>
            </tfoot>
          </table>
      <% else %>
          <%= t("credit.s.not_found") %>
      <% end %>
    </div>

    <div class="clr"></div>
  </div>

  <div class="clr"></div>
</div>