<div class="section_red">
  <div class="section_red_inner">&nbsp;
    <%= image_tag "cashe-credit-banner.png", class:"freespin_banner", alt:"" %>
    <% image_tag "wheel_of_fortune_half.png", class:"freespin_banner2", alt:"" %>
    <%= image_tag "karo.png", alt:"", class:"karoshape" %>

    <div class="redtext_section">
      <!--<h3><%=t("th.promos.promo")%></h3>-->
      <table width="120%">
        <tr>
          <td width="30%">
            <%= link_to image_tag("games/texas_holdem_low.gif", alt:"", class: "img-responsive col-xs-12", height: "130px", width:"auto"), th_game_url %>
          </td>
          <td width="30%">
            <p style="color:lightgray"><%=t("th.about")%></p>
          </td>
          <td width="30%">
            <%= link_to image_tag("buttons/app_store.png", class: "img-responsive col-xs-12", width: "100%"), I18n.t("th.btn.app_store.url"), alt:I18n.t("th.btn.app_store.alt") %>
            <%= link_to image_tag("buttons/google_play.png", class: "img-responsive col-xs-12", width: "100%"), I18n.t("th.btn.google_play.url"), alt:I18n.t("th.btn.google_play.alt") %>
          </td>
        </tr>
      </table>

      <!--<ul>-->
        <!--<li>Mauris volutpat auctor sodales. </li>-->
        <!--<li>Aenean ullamcorper vestibulum tellus</li>-->
        <!--<li>Nec volutpat tellus vulputate vitae. </li>-->
        <!--<li>Integer in dolor eu ligula imperdiet fermentum sed eget ante</li>-->
      <!--</ul>-->
    </div>

    <div class="clr"></div>

  </div>
</div>
