<div id="contentarea_1">
  <div class="section04">
    <div class="section04_inner">
      <div class="left_text_section" id="games">
        <div class="box01">
          <% image_tag "choose-from-230games.png", alt:"" %>
          <%= link_to image_tag("buttons/app_store.png", class: "img-responsive col-xs-12", width: " 100%"), I18n.t("th.btn.app_store.url"), alt:I18n.t("th.btn.app_store.alt") %>
          <%= link_to image_tag("buttons/google_play.png", class: "img-responsive col-xs-12", width: "100%"), I18n.t("th.btn.google_play.url"), alt:I18n.t("th.btn.google_play.alt") %>
        </div>
        <div class="clr"></div>
        <!--<p>Try your hand at hundreds of classic and video animated games, right here at your fingertips!</p>-->
      </div>
      <div class="rightdisplay_section">
        <h3>game of the week</h3>
        <div class="img-frame">
          <a href="<%= th_game_url %>"><%= image_tag "games/texas_holdem.gif", height:"100%", width:"484px", alt:"" %></a>
          <% render partial: "home/game_no_text" %>
        </div>
        <div class="playnow01"><a href="<%= th_game_url %>">
          <%= image_tag "game-playnow-btn.png", alt:"Play Now" %>
        </a></div>
      </div>
    </div>
  </div>
  <div class="section03">
    <%= image_tag "heart-shape.png", class:"heartshape", alt:"" %>
    <div class="sub_section01">
      <div class="try_mobileversion"><%= image_tag "try-mobile.png", alt:"" %>
        <!--<h5>Available at iStore.</h5>-->
      </div>
      <div class="title_section"><h3><%=t("game.s.title1")%> <span class="boldtxt"> <%=t("game.s.title2")%></span></h3>
        <div class="blog_counter"><%=@games.try(:count)%></div>
      </div>
      <!--<div class="sec_desc">-->
        <!--<%# render partial: "home/game_about" #%>-->
      <!--</div>-->
    </div>

    <div class="sub_section02">
        <%= render partial: "games/tab_list" %>
    </div>

    <div class="clr"></div>
  </div>

  <!--<div class="section05">-->
    <!--<div class="section05_inner">-->
      <!--<% image_tag "heart-shape.png", alt:"", class:"karoshape" %>-->
      <!--<div class="download_sec">-->
        <!--<div class="download_innertext"><p><span>Download FREE software</span><br>-->
          <!--and play Progressive Slots now. </p></div>-->
      <!--</div>-->
      <!--<p class="downtxt">In order to participate in the thrills of progressive jackpot games, players will need to download the full casino software, as progressive jackpot games are not available to enjoy in the Flash Lite Play version of the casino. </p>-->
    <!--</div>-->
  <!--</div>-->
</div>

