
<!--footer_section -->
<div class="footer_section">
  <!--footer top section -->
  <div class="footersection-top">
    <div class="footertop_inner">
      <%= image_tag "karo.png", alt:"", class:"karoshape" %>
      <div class="social_media">
        <ul>
          <li><a href="#"><%= image_tag "media-fb.png", alt:"Facebook" %></a></li>
          <li><a href="#"><%= image_tag "media-twitter.png", alt:"twitter" %></a></li>
        </ul>
      </div>
      <div class="footerbox01">
        <ul>
          <li><a href="#">About Us</a></li>
          <li><a href="#">Privacy Policy</a></li>
          <li><a href="#">Responsible Gambling</a></li>
          <li><a href="#">Terms and Conditions</a></li>
          <li><a href="#">Sitemap</a></li>
          <li><a href="#">Affiliate Program</a></li>
        </ul>
      </div>
      <div class="footerbox02">
        <h3>Safety of your account</h3>
        <%= image_tag "safesecure-logo.jpg", alt: "Safe Secure Banking", class:"imgright" %>
        <ul>
          <li><a href="#">Fully certified casino</a></li>
          <li><a href="#">Strictly regulated fair games</a></li>
          <li><a href="#">Safe monetary deposits</a></li>
          <li><a href="#">Award winning casino</a></li>
        </ul>
      </div>
    </div>
  </div>
  <!--footer top section -->
  <!--footer_section_bottom -->
  <div class="footer_section_bottom">
    <div class="footer_section_bottom_inner">&nbsp;
      <div class="footer_logo">
        <div class="logo_section"><%= image_tag "footer-logo.png", alt:"" %></div>
        <p class="copyright">Rights reserved,  2012.</p>
      </div>
      <div class="footer_bottomleftpart"><%= image_tag "visa.jpg", alt:"" %></div>
      <div class="footer_bottomrightpart">Design by: Prospekt d.o.o.</div>
      <div class="clr"></div>
    </div>
  </div>
  <!--footer_section_bottom -->
</div>
<!--footer_section -->