<div class="navigation">
  <table>
    <tr>
      <td class="home"><a href="<%= root_path %>#home"><%=t("menu.home")%> </a></td>
      <td class="getting_started"><a href="<%= games_path %>"><%=t("menu.games")%></a></td>
        <% if current_user %>
          <td class="payment_method"><a href="<%= user_orders_path(current_user) %>"><%=t("menu.orders")%></a></td>
          <td class="games"><a href="<%= user_path(current_user) %>"><%=t("menu.profile")%></a></td>
          <td class="contact"><a href="<%= signout_path %>"><%=t("menu.sign_out")%></a></td>
    <% else %>
          <td class="contact"><a href="<%= sign_in_path %>"><%=t("menu.sign_in")%></a></td>
          <td class="contact"><a href="<%= sign_up_path %>"><%=t("menu.sign_up")%></a></td>
          <td class="tournament"><a href="<%= root_path %>#credits"><%=t("menu.credits")%></a></td>
        <% end %>
      <!--<td class="aboutus"><a href="#"><%=t("menu.about")%></a></td>-->
      <td class="contact_us"><a href="<%= contact_us_get_path %>" class=""><%=t("menu.contact_us")%></a></td>
    </tr>
  </table>
</div>

