<div class="rightboxes">
  <div class="popular_games">
    <div class="title_sec"><h3>POPULAR GAMES</h3></div>
    <table>
      <tbody><tr>
        <td>
          <div class="flip-container">
            <div class="flipper">
              <div class="front"><a href="<%= game_play_url %>"><%= image_tag "g1-b.jpg", alt:"" %></a></div>
              <div class="back"><a href="<%= game_play_url %>"><%= image_tag "g1.jpg", alt:"" %></a></div>
            </div>
          </div>
        </td>

        <td>
          <div class="flip-container">
            <div class="flipper">
              <div class="front"><a href="<%= game_play_url %>"><%= image_tag "g2-b.jpg", alt:"" %></a></div>
              <div class="back"><a href="<%= game_play_url %>"><%= image_tag "g2.jpg", alt:"" %></a></div>
            </div>
          </div>
        </td>
      </tr>

      <tr>
        <td>
          <div class="flip-container">
            <div class="flipper">
              <div class="front"><a href="<%= game_play_url %>"><%= image_tag "g3-b.jpg", alt:"" %></a></div>
              <div class="back"><a href="<%= game_play_url %>"><%= image_tag "g3.jpg", alt:"" %></a></div>
            </div>
          </div>
        </td>

        <td>
          <div class="flip-container">
            <div class="flipper">
              <div class="front"><a href="<%= game_play_url %>"><%= image_tag "g4-b.jpg", alt:"" %></a></div>
              <div class="back"><a href="<%= game_play_url %>"><%= image_tag "g4.jpg", alt:"" %></a></div>
            </div>
          </div>
        </td>
      </tr>
      <tr>
        <td>
          <div class="flip-container">
            <div class="flipper">
              <div class="front"><a href="<%= game_play_url %>"><%= image_tag "g6-b.jpg", alt:"" %></a></div>
              <div class="back"><a href="<%= game_play_url %>"><%= image_tag "g6.jpg", alt:"" %></a></div>
            </div>
          </div>
        </td>

        <td>
          <div class="flip-container">
            <div class="flipper">
              <div class="front"><a href="<%= game_play_url %>"><%= image_tag "g5-b.jpg", alt:"" %></a></div>
              <div class="back"><a href="<%= game_play_url %>"><%= image_tag "g5.jpg", alt:"" %></a></div>
            </div>
          </div>
        </td>
      </tr>
      </tbody></table>
    <div class="bottom_sec">26 Card games</div>
  </div>
</div>