<div class="rightboxes">
  <div class="top_jackpot">
    <div class="title_sec"><h3>TOP JACKPOT</h3></div>
    <div id="top_jackpot_text" style="overflow: hidden; position: relative; height: 270px;">
      <ul style="position: absolute; margin: 0px; padding: 0px; top: 0px;">
        <li style="margin: 0px; padding: 0px; height: 54px; display: list-item;">
          <div class="box_number">6.</div>
          <div class="box_img"><a href="#"><%= image_tag "s1.jpg", alt: "" %></a></div>
          <a href="#"><h5>Mega Moolah Isis</h5></a>
        </li>
        <li style="margin: 0px; padding: 0px; height: 54px; display: list-item;">
          <div class="box_number">7.</div>
          <div class="box_img"><a href="#"><%= image_tag "s2.jpg", alt: "" %></a></div>
          <a href="#"><h5>Mega Moolah</h5></a>
        </li>
        <li style="margin: 0px; padding: 0px; height: 54px; display: list-item;">
          <div class="box_number">8.</div>
          <div class="box_img"><a href="#"><%= image_tag "s3.jpg", alt: "" %></a></div>
          <a href="#"><h5>Arabian Nights</h5></a>
        </li>
        <li style="margin: 0px; padding: 0px; height: 54px; display: list-item;">
          <div class="box_number">9.</div>
          <div class="box_img"><a href="#"><%= image_tag "s4.jpg", alt: "" %></a></div>
          <a href="#"><h5>Solo Alladin</h5></a>
        </li>
        <li style="margin: 0px; padding: 0px; height: 54px; display: list-item;">
          <div class="box_number">10.</div>
          <div class="box_img"><a href="#"><%= image_tag "s5.jpg", alt: "" %></a></div>
          <a href="#"><h5>Nola for Fun</h5></a>
        </li>
        <li style="margin: 0px; padding: 0px; height: 54px; display: list-item;">
          <div class="box_number">1.</div>
          <div class="box_img"><a href="#"><%= image_tag "s1.jpg", alt: "" %></a></div>
          <a href="#"><h5>Mega Moolah Isis</h5></a>
        </li>
        <li style="margin: 0px; padding: 0px; height: 54px; display: list-item;">
          <div class="box_number">2.</div>
          <div class="box_img"><a href="#"><%= image_tag "s2.jpg", alt: "" %></a></div>
          <a href="#"><h5>Mega Moolah</h5></a>
        </li>
        <li style="margin: 0px; padding: 0px; height: 54px; display: list-item;">
          <div class="box_number">3.</div>
          <div class="box_img"><a href="#"><%= image_tag "s3.jpg", alt: "" %></a></div>
          <a href="#"><h5>Arabian Nights</h5></a>
        </li>
        <li style="margin: 0px; padding: 0px; height: 54px; display: list-item;">
          <div class="box_number">4.</div>
          <div class="box_img"><a href="#"><%= image_tag "s4.jpg", alt: "" %></a></div>
          <a href="#"><h5>Solo Alladin</h5></a>
        </li>
        <li style="margin: 0px; padding: 0px; height: 54px; display: list-item;">
          <div class="box_number">5.</div>
          <div class="box_img"><a href="#"><%= image_tag "s5.jpg", alt: "" %></a></div>
          <a href="#"><h5>Nola for Fun</h5></a>
        </li>
      </ul>
    </div>
  </div>
</div>