<!--topsection -->
<div id="topsection">
  <div class="topsection_inner">
    <%= image_tag "leaf.png", class:"leaf" %>
    <!--main_ligo -->
    <div class="main_logo">
      <a href="#">
        <% image_tag "power_main_logo.png", alt:"Texas Holdem Logo" %>
        <%= image_tag "logo.png", alt:"Texas Holdem Logo" %>
      </a>
    </div>
    <!--main_ligo -->

    <!--text01 -->
    <div class="text01">
      <% if @current_user %>
        <h4 id="balance">You have<br />
        <span> <%= number_with_delimiter current_user.try(:fcredits) %> </span> <br />credits</h4>
      <% else %>
        <!--<h4>Jackpots<br />-->
        <!--<span> $3,977,353</span></h4>-->
      <% end %>
    </div>
    <!--text01 -->

    <!--text02 -->
    <div class="text02">
      <% if @current_user %>
          <%= render partial: "shared/errors_flash" %>
          <h4>Welcome <br /><%= if current_user.try(:full_name).try(:present?)
                           current_user.try(:full_name)
                         elsif current_user.try(:name).try(:present?)
                           current_user.try(:name)
                         else
                           current_user.try(:email)
                         end %></h4>

    <% else %>
        <!--<h4>Players online-->
        <!--<span>7,246</span></h4>-->
      <% end %>
    </div>
    <!--text02 -->

    <!--start navigation menu -->
    <%= render partial:"shared_new/nav_menu" %>

    <!--end navigation menu -->
    <div class="left_reb">
      <%= image_tag "left_reb.png", alt:"" %>
    </div>
    <div class="right_reb">
      <%= image_tag "right_reab.png", alt:"" %>
    </div>
  </div>
</div>