<div class="section03">
  <div class="sub_section03 sign_in_up">
    <!--<h1 style="color:black" align="center">OR Sign Up Using Your Email Below</h1>-->

    <%= render partial: "shared/errors_flash" %>
    <%= render partial: "shared/errors", locals: {obj: @user} %>
    <br>

    <h1 style="color:black" align="center">OR</h1>

    <div class="section_left left_content2">
      <h1 style="color:black" align="center">Sign In Using Your Email</h1>
      <br>
      <!--<h2 style="color:black" class="text-center"><i class="glyphicon glyphicon-log-in"></i> <%= t("login") %></h2>-->
      <%= render partial: "shared/sign_in_form" %>

    </div>
    <div class="section_right rightside_section2">
      <h1 style="color:black" align="center">Sign Up Using Your Email</h1>
      <br>
      <!--<h2 style="color:black" class="text-center"><i class="glyphicon glyphicon-log-in"></i> <%= t("register") %></h2>-->
      <%= render partial: "shared/sign_up_form" %>
    </div>
  </div>
</div>
<br>
<br>
<br>
