<div class="section03">
  <div class="sub_section03 sign_in_up">
    <%= render partial: "shared/errors_flash" %>
    <%= render partial: "shared/errors", locals: {obj: @user} %>
    <h1 style="color:black" align="center">OR Sign Up Using Your Email Below</h1><br>
    <div class="section_left left_content2">
      <!--<h1 class="bg-red2 text-center"><% t("sign.in") %></h1>-->
      <!--<h2 class="text-center"><i class="glyphicon glyphicon-log-in"></i> <%= t("login") %></h2>-->
      <%= render partial: "shared/sign_in_form" %>
    </div>
    <div class="section_right rightside_section2">
      <!--<h1 class="bg-red2 text-center"><% t("sign.up") %></h1>-->
      <!--<h2 class="text-center"><i class="glyphicon glyphicon-log-in"></i> <%= t("register") %></h2>-->
      <%= render partial: "shared/sign_up_form" %>
    </div>
  </div>
</div>
<br>
<br>
