<div class="container container-narrow content">


  <div class="row">
    <div class="col-xs-12">
      <h2 class="text-center dark">Welcome <%= @user.try(:full_name) || @user.try(:email) %>
        (credits: <%= @user.try(:credits) %>)</h2>
      <% render partial: "orders/form", locals: {object: @order} %>
    </div>
  </div>
  <div class="row" height="">
    <div class="col-xs-12 col-sm-6" height="">

      <%= render partial: "shared/fortune_wheel" %>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
    </div>
    <div class="col-xs-12 col-sm-6">
      <% render partial: "shared/credits" %>
      <%= render partial: "orders/form", locals: {object: @order} %>
    </div>
  </div>
  <!-- /.row -->

  <div class="row">
    <div class="col-xs-12">
      <a href="<%= game_play_url %>">
        <%= image_tag "games/texas_holdem.jpeg", class: "img-responsive col-xs-12" %>
      </a>
    </div>
  </div>
  <!-- /.row -->

  <%= render partial: 'shared/back_to_top' %>

</div>