<!--contentarea -->
<div id="contentarea">
  <div class="section01">
    <h2>Top rated Online casino with over <span>98,000</span> active members.</h2>
    <div class="game_box">
      <div class="box01">
        <h3>LIVE CASINO</h3>
        <p>Real dealers, actions and wins!<br />
          1.000 of games to choos from.</p>
        <div class="container" ><%= image_tag "box-image.jpg", alt:"" %></div>
        <a href="#" > <span class="text-buttons">Play now</span><%= image_tag "playnow_redbtn.png", class:"btn_action", alt:"" %></a>
      </div>
      <div class="box02">
        <h3>SPIN SLOTS</h3>
        <p>Big wins and unique featrures<br />
          Play time bonuses and tournaments.</p>
        <div class="container" ><%= image_tag "box-image.jpg", alt:"" %></div>
        <a href="#"><span class="text-buttons">Spin slots</span><%= image_tag "choosegame_blkbtn.png", class:"btn_action", alt:"" %></a>
      </div>
      <div class="box03">
        <h3>ROULETTE</h3>
        <p>Spin the Roulette wheel and get<br />
          great bonuses and surprises!</p>
        <div class="container" ><%= image_tag "box-image.jpg", alt:"" %></div>
        <a href="#"><span class="text-buttons">Spin wheel</span><%= image_tag "takeaspin_yellowbtn.png", class:"btn_action", alt:"" %></a>
      </div>
      <div class="box04">
        <h3>PLAY POKER</h3>
        <p>Omaha, Texas Hold’em, Classic<br />
          Tournaments start every minute.</p>
        <div class="container" ><%= image_tag "box-image.jpg", alt:"" %></div>
        <a href="#"><span class="text-buttons">Play Poker</span><%= image_tag "jointable_yellowbtn.png", class:"btn_action", alt:"" %></a>
      </div>
      <div class="clr"></div>
    </div>
  </div>

  <div class="section02">
    <%= image_tag "heart-shape.png", class:"heartshape", alt:"" %>
    <a href="#"><%= image_tag "promotion_banner.png", class:"promo_banner", alt:"" %></a>
    <div class="stepsbox">
      <div class="box01">
        <div class="number"><%= image_tag "number01.png", alt:"" %></div>
        <p>Download the<br /><strong>POWER JACKPOT</strong> SOFTWARE</p>
      </div>
      <div class="box02">
        <div class="number"><%= image_tag "number02.png", alt:"" %></div>
        <p><strong>Create an acount</strong> <br /> and Register to page</p>
      </div>
      <div class="box03">
        <div class="number"><%= image_tag "number03.png", alt:"" %></div>
        <p>Click the button<br /><strong>"START FREE PLAY"</strong></p>
      </div>
    </div>
  </div>
</div>
<!--contentarea -->