<!-- /.container -->
<footer>
  <div class="bg-red">
    <div class="container container-narrow">
      <div class="row">
        <div class="col-xs-3">
          <div class="ribbon1 text-center">
            <a href="<%= credits_url %>">
              <%= image_tag "wheel_of_fortuna.png", class: "", alt: "win more credits" %>
              <br>
              <span>Cash, Credits <br>and <br>Free Spins!</span>
            </a>
          </div>
          <div class="ribbon text-center">
            <a href="<%= root_path %>">
              <%= image_tag "logo.png", class: "", alt: "logo" %>
            </a>
            <br>
            <span class="">All Rights <br>Reserved <%= Date.today.year %> </span>
          </div>
        </div>

        <div class="col-xs-offset-1 col-xs-8">
          <a href="<%= credits_url %>">
            <h3>Get more credits now</h3>
          </a>

          <a href="<%= sign_up_url %>">
            <p class="big">register to the website and will get the bonus</p>
          </a>

          <!--<ul>-->
            <!--<li>Texas Holdem</li>-->
          <!--</ul>-->
        </div>
      </div>
    </div>
  </div>
  <div class="with-ribbon bg-black">
    <div class="container container-narrow">
      <div class="row">
        <div class="col-xs-3">
        </div>
        <div class="col-xs-offset-1 col-xs-8 valign">
          <p>Navigation Menu:</p>

          <a href="<%= root_path %>#home">Home</a><br>
          <a href="<%= root_path %>#games">Games</a><br>
          <a href="<%= root_path %>#credits">Credits</a><br>
          <a href="<%= root_path %>#sign_up_in">Sign Up</a><br>
          <a href="<%= root_path %>#sign_up_in">Sign In</a><br>

          <!--<a href="#">Downloads</a><br>-->
          <!--<a href="#">About</a><br>-->
          <!--<a href="#">Contact</a><br>-->
        </div>
      </div>
    </div>
  </div>

</footer>
