
<!-- /.container -->

<footer>
  <div class="bg-red">
    <div class="container container-narrow">
      <div class="row">
        <div class="col-xs-3">
          <div class="ribbon1 text-center">
            <%= image_tag "wheel_of_fortuna.png", class: "" %>
            <br>
            <span>Cash, Credits <br>and <br>Free Spins!</span>
          </div>
          <div class="ribbon text-center">
            <%= image_tag "logo.png", class: "" %>
            <br>
            <span class="">All Rights <br>Reserved 2015 </span>
          </div>
        </div>

        <div class="col-xs-offset-1 col-xs-8">
          <h3>Start Playing - win 100% welcome bonus</h3>
          <ul>
            <!--<li>Texas Holdem</li>-->
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="with-ribbon bg-black">
    <div class="container container-narrow">
      <div class="row">
        <div class="col-xs-3">
        </div>
        <div class="col-xs-offset-1 col-xs-8 valign">
          <p>Navigation Menu:</p>

          <a href="<%=root_path%>#home">Home</a><br>
          <a href="<%=root_path%>#games">Games</a><br>
          <a href="<%=root_path%>#credits">Credits</a><br>
          <a href="<%=root_path%>#sign_up_in">Sign Up</a><br>
          <a href="<%=root_path%>#sign_up_in">Sign In</a><br>

          <!--<a href="#">Downloads</a><br>-->
          <!--<a href="#">About</a><br>-->
          <!--<a href="#">Contact</a><br>-->
        </div>
      </div>
    </div>
  </div>


</footer>

