<h2 class="text-center bg-red2">Games</h2>
<div class="row" id="games" class="">
  <div class="col-xs-12 col-sm-6">
    <%= render partial: "home/game_no_text" %>
  </div>
  <div class="col-xs-12 col-sm-6">
    <%= image_tag "games/caribbean_poker.jpg", class: "img-responsive col-xs-12" %>
  </div>
  <div class="col-xs-12 col-sm-6">
    <%= image_tag "games/black_jack.jpg", class: "img-responsive col-xs-12" %>
  </div>
  <div class="col-xs-12 col-sm-6">
    <%= image_tag "games/european_roulette.jpg", class: "img-responsive col-xs-12" %>
  </div>
  <div class="col-xs-12 col-sm-6">
    <%= image_tag "games/wheel_of_fortune_vegas_edition.jpg", class: "img-responsive col-xs-12" %>
  </div>

  <div class="col-xs-12 col-sm-6">
    <%= image_tag "games/safari_sam_slots.jpg", class: "img-responsive col-xs-12" %>
  </div>
  <div class="col-xs-12 col-sm-6">
    <%= image_tag "games/bingo_bash.jpg", class: "img-responsive col-xs-12" %>
  </div>
  <div class="col-xs-12 col-sm-6">
    <%= image_tag "games/wild_savanna_slots.jpg", class: "img-responsive col-xs-12" %>
  </div>
  <div class="col-xs-12 col-sm-6">
    <%= image_tag "games/cha_chingo.jpg", class: "img-responsive col-xs-12" %>
  </div>
  <div class="col-xs-12 col-sm-6">
    <%= image_tag "games/classic_777_slots.jpg", class: "img-responsive col-xs-12" %>
  </div>
</div>
<br>
