<h4 class="text-center dark">Games</h4>

<div class="row" id="games" class="">
  <div class="col-xs-12 col-sm-6">
    <a href="<%= game_play_url %>">
        <%= image_tag "games/texas_holdem.jpeg", class: "img-responsive col-xs-12" %>
    </a>
  </div>
  <div class="col-xs-12 col-sm-6">
    <%= image_tag "games/caribbean_poker.jpeg", class: "img-responsive col-xs-12" %>
  </div>
  <div class="col-xs-12 col-sm-6">
    <%= image_tag "games/black_jack.jpeg", class: "img-responsive col-xs-12" %>
  </div>
  <div class="col-xs-12 col-sm-6">
    <%= image_tag "games/european_roulette.jpeg", class: "img-responsive col-xs-12" %>
  </div>
  <div class="col-xs-12 col-sm-6">
    <%= image_tag "games/texas_holdem.jpeg", class: "img-responsive col-xs-12" %>
  </div>

  <div class="col-xs-12 col-sm-6">
    <%= image_tag "games/safari_sam_slots.jpeg", class: "img-responsive col-xs-12" %>
  </div>
  <div class="col-xs-12 col-sm-6">
    <%= image_tag "games/bingo_bash.jpeg", class: "img-responsive col-xs-12" %>
  </div>
  <div class="col-xs-12 col-sm-6">
    <%= image_tag "games/wild_savanna_slots.jpeg", class: "img-responsive col-xs-12" %>
  </div>
  <div class="col-xs-12 col-sm-6">
    <%= image_tag "games/cha_chingo.jpeg", class: "img-responsive col-xs-12" %>
  </div>
  <div class="col-xs-12 col-sm-6">
    <%= image_tag "games/classic_777_slots.jpeg", class: "img-responsive col-xs-12" %>
  </div>
</div>
<br>