<div class="bg-black">
  <!--<h4 class="text-center dark" id="sign_in_up">Sign In / Sign Up</h4>-->
  <div class="row">
    <div class="col-xs-10 col-xs-offset-1 col-xs-pull-1">
      <%= render partial: "shared/errors_flash" %>
      <%= render partial: "shared/errors", locals: {obj: @user} %>
    </div>
  </div>
  <div class="row" id="sign_in_up">
    <div class="col-xs-12 col-md-4 col-md-pull-1 col-md-offset-2">
      <!--<h1 class="bg-red2 text-center"><%= t("sign.in") %></h1>-->
      <h2 class="text-center"><i class="glyphicon glyphicon-log-in"></i> <%= t("login") %></h2>
      <%= render partial: "shared/sign_in_form" %>
    </div>
    <div class="col-xs-12 col-md-5 col-md-pull-0">
      <!--<h1 class="bg-red2 text-center"><%= t("sign.up") %></h1>-->
      <h2 class="text-center"><i class="glyphicon glyphicon-log-in"></i> <%= t("register") %></h2>
      <%= render partial: "shared/sign_up_form" %>
    </div>
    <div class=""></div>
  </div>
</div>