<% input_class = request.fullpath == mobile_signup_path ? '' : 'btn'
   input_class += " form-control"
%>

<%= form_for(@user_empty, url: signin_path, html: {class: "form-horizontal", role: "form"}) do |f| %>
    <div class="form-group">
      <%#= f.label t("user.email"), class: "sr-only" #%>
      <%= f.email_field :email, class: input_class, placeholder: t("user.email"), tabindex: "1" %>
    </div>
    <br>
    <div class="form-group">
      <%#= f.label t("user.password"), class: "sr-only" #%>
      <%= f.password_field :password, class: input_class, placeholder: t("user.password"), tabindex: "2" %>
    </div>

    <!--<div class="checkbox">
                <label class="control-label" for="remember_me">
                  <input type="checkbox" name="remember_me" id="remember_me" value="1" class="" tabindex="3"/> <%= t("user.remember_me") %>
                </label>
              </div>-->
    <!--<br/>-->
    <br>
    <p align="right"><i>
      <%= link_to "Forgot Password?", restore_get_url %>
    </i>
    </p>
    <br>

    <div class="form-group">
      <%= show_simple_captcha %>
    </div>
    <br>
    <div class="form-group">
      <!--<button type="submit" name="log-me-in" id="submit" tabindex="5" class="btn btn-lg btn-green btn-group-justified">Go</button>-->
      <%= f.submit t("user.sign_in"), class: "btn btn-lg btn-green btn-group-justified", tabindex: "4" %>
    </div>
<% end %>