<div id="slider_section">
  <div class="slider_section_inner">
    <div id="slider-wrapper">
      <div id="slider" class="nivoSlider">
        <a href="#"><%= image_tag "banner_01.png", alt:""%></a>
        <a href="#"><%= image_tag "banner_time.png", alt:""%></a>
        <a href="#"><%= image_tag "banner_02.png", alt:""%></a>
        <a href="#"><%= image_tag "banner_time.png", alt:""%></a>
        <a href="#"><%= image_tag "banner_03.png", alt:""%></a>
        <a href="#"><%= image_tag "banner_timea.png", alt:""%></a>
        <a href="#"><%= image_tag "banner_04.png", alt:""%></a>
        <a href="#"><%= image_tag "banner_time.png", alt:""%></a>
      </div>
    </div>
  </div>
</div>