<div class="row" id="home">
  <h3 class="text-center">Instructions</h3>

  <div class="col-xs-6">

    <p class="big"><%= t("th.instructions.one") %></p>

    <p class="big"><%= t("th.instructions.two") %></p>

    <p class="big"><%= t("th.instructions.three") %></p>

    <p class="big"><%= t("th.instructions.four") %></p>

  </div>
  <div class="col-xs-6">

    <p class="big"><%= t("th.instructions.five") %></p>

    <p class="big"><%= t("th.instructions.six") %></p>

    <p class="big"><%= t("th.instructions.seven") %></p>

    <p class="big"><%= t("th.instructions.eight") %></p>
  </div>
</div>
<br>