<div class="container container-narrow content">
  <div class="row" id="home">
    <div class="col-xs-12 col-sm-9 col-md-9 text-center">
      <h2 class="text-center dark">Start the best gaming experience</h2>
      <%#= link_to 'Twitter', '/auth/twitter' #%>
      <%= link_to 'Facebook', '/auth/facebook' %>

      <%= render partial: "home/game" %>
    </div>

    <div class="col-xs-12 col-sm-3 col-md-3">
      <%= render partial: "shared/banners" %>
    </div>
  </div>
  <!-- /.row -->

  <% if !current_user %>
      <div class="row">
        <div class="col-xs-12 col-sm-6">
          <%= render partial: "shared/fortune_wheel" %>
        </div>
        <div class="col-xs-12 col-sm-6">
          <%= render partial: "orders/form", locals: {object: @order} %>
        </div>
      </div>
      <%= render partial: "shared/sign_up_in" %>
  <% end %>

  <%= render partial: "shared/games" %>
  <%= render partial: "shared/back_to_top" %>

</div>
<!-- /.container -->
