<%= form_for(object, url: user_orders_path(current_user), html: {class: "form-horizontal", role: "form"}) do |f| %>
    <% f.hidden_field :credit, value: credit.try(:id) %>
    <%= hidden_field_tag :credit_id, credit.try(:id) %>
    <tr>
      <td>
        <%= credit.try(:cost_in_cents)/100 rescue 0 %>
      </td>
      <td>
        <%= credit.try(:credits).try(:to_i) %>
      </td>
      <td>
        <%= f.submit "Buy", class: "btn btn-lg btn-green btn-group-justified" %>
      </td>
    </tr>
<% end %>