<% if @creditList.present? %>
    <% if current_user
         class_list = "credits"
         btn_label = "Buy"
         url = user_buy_path(current_user)
       else
         class_list = "credits"
         btn_label = "Login and Buy"
         url = signin_path
       end %>
    <div class="bg-black">
      <!--<h4 class="text-center dark">Credits</h4>-->
      <div class="row" id="credits">
        <div class="col-xs-12">
          <div class="panel panel-default bg-transparent <%= class_list %>">
            <!-- Default panel contents -->
            <div class="panel-heading text-center bg-red2">Buy Credits</div>
            <!--<h2 class="text-center dark">Buy</h2>-->
            <div class="table-responsive">
              <table class="table">
                <thead class="text-capitalize">
                <tr class="text-center">
                  <th class="text-center">cost ($)</th>
                  <th class="text-center">credits</th>
                  <th class="text-center">action</th>
                </tr>
                </thead>
                <tbody class="text-center">

                <% if @creditList.any? %>
                    <% @creditList.each do |credit| %>
                        <%= form_for(object, url: user_orders_path(current_user), html: {class: "form-horizontal", role: "form"}) do |f| %>
                            <% f.hidden_field :credit, value: credit.try(:id) %>
                            <%= hidden_field_tag :credit_id, credit.try(:id) %>
                            <tr>
                              <td>
                                <%= credit.try(:cost_in_cents)/100%>
                              </td>
                              <td>
                                <%= credit.try(:credits).try(:to_i)%>
                              </td>
                              <td>
                                <%= f.submit "Buy", class: "btn btn-lg btn-green btn-group-justified" %>
                              </td>
                            </tr>
                        <% end %>
                    <% end %>
                <% end %>
                </tbody>
              </table>
            </div>

            <!--<div class="panel panel-footer bg-black"></div>-->
          </div>
        </div>
      </div>
    </div>

    <br/>
<% end %>
