
<!--tab start -->
<div class="tab_box">
  <div class="tab_content" style="width:633px;">
    <div class="sort_tabsection">
      <ul>
        <li><a href="JavaScript:void(0);" class="select">All tournaments</a></li>
        <li><a href="JavaScript:void(0);">Texas hold'em</a></li>
        <li><a href="JavaScript:void(0);">BlackJack</a></li>
        <li><a href="JavaScript:void(0);">Slots</a></li>
      </ul>
    </div>
  </div>
  <div class="clr"></div>
  <div class="tab_details">
    <!--tab news start -->
    <div class="tab_inner active">
      <div class="sorted_display">
        <h4>We have 32 tournaments for you</h4>
        <table class="tournament_list">
          <thead>
          <tr>
            <th>Tournament</th>
            <th>Starts in</th>
            <th>Ends</th>
            <th>Players enrolled</th>
            <th>Prize pool</th>
            <th>Entry</th>
            <th>Bonus?</th>
          </tr>
          </thead>
          <tbody>
          <tr class="odd">
            <td>$100 '3hr' Reloader</td>
            <td>20:45</td>
            <td>21:15</td>
            <td>251	</td>
            <td>$5000</td>
            <td>$10</td>
            <td>Yes</td>
          </tr>
          <tr class="even">
            <td>Master of the Table</td>
            <td>19:30	</td>
            <td>20:30	</td>
            <td>22	</td>
            <td>$18.000</td>
            <td>$50</td>
            <td>Yes</td>
          </tr>

          <tr class="odd">
            <td>Wild Card</td>
            <td>20:00	</td>
            <td>21:00</td>
            <td>1.180	</td>
            <td>$50.000</td>
            <td>$200</td>
            <td>No</td>
          </tr>
          <tr class="even">
            <td>$10k Midweek Moolah Q1</td>
            <td>20:00</td>
            <td>22:00	</td>
            <td>25	</td>
            <td>$450</td>
            <td>$5</td>
            <td>No</td>
          </tr>
          <tr class="odd">
            <td>$100 '3hr' Reloader</td>
            <td>20:45</td>
            <td>21:15</td>
            <td>251	</td>
            <td>$5000</td>
            <td>$10</td>
            <td>Yes</td>
          </tr>
          <tr class="even">
            <td>Master of the Table</td>
            <td>19:30	</td>
            <td>20:30	</td>
            <td>22	</td>
            <td>$18.000</td>
            <td>$50</td>
            <td>Yes</td>
          </tr>

          <tr class="odd">
            <td>Wild Card</td>
            <td>20:00	</td>
            <td>21:00</td>
            <td>1.180	</td>
            <td>$50.000</td>
            <td>$200</td>
            <td>No</td>
          </tr>
          <tr class="even">
            <td>$10k Midweek Moolah Q1</td>
            <td>20:00</td>
            <td>22:00	</td>
            <td>25	</td>
            <td>$450</td>
            <td>$5</td>
            <td>No</td>
          </tr>
          <tr class="odd">
            <td>$100 '3hr' Reloader</td>
            <td>20:45</td>
            <td>21:15</td>
            <td>251	</td>
            <td>$5000</td>
            <td>$10</td>
            <td>Yes</td>
          </tr>
          <tr class="even">
            <td>Master of the Table</td>
            <td>19:30	</td>
            <td>20:30	</td>
            <td>22	</td>
            <td>$18.000</td>
            <td>$50</td>
            <td>Yes</td>
          </tr>

          <tr class="odd">
            <td>Wild Card</td>
            <td>20:00	</td>
            <td>21:00</td>
            <td>1.180	</td>
            <td>$50.000</td>
            <td>$200</td>
            <td>No</td>
          </tr>
          <tr class="even">
            <td>$10k Midweek Moolah Q1</td>
            <td>20:00</td>
            <td>22:00	</td>
            <td>25	</td>
            <td>$450</td>
            <td>$5</td>
            <td>No</td>
          </tr>
          <tr class="odd">
            <td>$100 '3hr' Reloader</td>
            <td>20:45</td>
            <td>21:15</td>
            <td>251	</td>
            <td>$5000</td>
            <td>$10</td>
            <td>Yes</td>
          </tr>
          <tr class="even">
            <td>Master of the Table</td>
            <td>19:30	</td>
            <td>20:30	</td>
            <td>22	</td>
            <td>$18.000</td>
            <td>$50</td>
            <td>Yes</td>
          </tr>

          <tr class="odd">
            <td>Wild Card</td>
            <td>20:00	</td>
            <td>21:00</td>
            <td>1.180	</td>
            <td>$50.000</td>
            <td>$200</td>
            <td>No</td>
          </tr>
          <tr class="even">
            <td>$10k Midweek Moolah Q1</td>
            <td>20:00</td>
            <td>22:00	</td>
            <td>25	</td>
            <td>$450</td>
            <td>$5</td>
            <td>No</td>
          </tr>
          <tr class="odd">
            <td>$100 '3hr' Reloader</td>
            <td>20:45</td>
            <td>21:15</td>
            <td>251	</td>
            <td>$5000</td>
            <td>$10</td>
            <td>Yes</td>
          </tr>
          <tr class="even">
            <td>Master of the Table</td>
            <td>19:30	</td>
            <td>20:30	</td>
            <td>22	</td>
            <td>$18.000</td>
            <td>$50</td>
            <td>Yes</td>
          </tr>

          <tr class="odd">
            <td>Wild Card</td>
            <td>20:00	</td>
            <td>21:00</td>
            <td>1.180	</td>
            <td>$50.000</td>
            <td>$200</td>
            <td>No</td>
          </tr>
          <tr class="even">
            <td>$10k Midweek Moolah Q1</td>
            <td>20:00</td>
            <td>22:00	</td>
            <td>25	</td>
            <td>$450</td>
            <td>$5</td>
            <td>No</td>
          </tr>
          <tr class="odd">
            <td>$100 '3hr' Reloader</td>
            <td>20:45</td>
            <td>21:15</td>
            <td>251	</td>
            <td>$5000</td>
            <td>$10</td>
            <td>Yes</td>
          </tr>
          <tr class="even">
            <td>Master of the Table</td>
            <td>19:30	</td>
            <td>20:30	</td>
            <td>22	</td>
            <td>$18.000</td>
            <td>$50</td>
            <td>Yes</td>
          </tr>

          <tr class="odd">
            <td>Wild Card</td>
            <td>20:00	</td>
            <td>21:00</td>
            <td>1.180	</td>
            <td>$50.000</td>
            <td>$200</td>
            <td>No</td>
          </tr>
          <tr class="even">
            <td>$10k Midweek Moolah Q1</td>
            <td>20:00</td>
            <td>22:00	</td>
            <td>25	</td>
            <td>$450</td>
            <td>$5</td>
            <td>No</td>
          </tr>
          <tr class="odd">
            <td>$100 '3hr' Reloader</td>
            <td>20:45</td>
            <td>21:15</td>
            <td>251	</td>
            <td>$5000</td>
            <td>$10</td>
            <td>Yes</td>
          </tr>
          <tr class="even">
            <td>Master of the Table</td>
            <td>19:30	</td>
            <td>20:30	</td>
            <td>22	</td>
            <td>$18.000</td>
            <td>$50</td>
            <td>Yes</td>
          </tr>

          <tr class="odd">
            <td>Wild Card</td>
            <td>20:00	</td>
            <td>21:00</td>
            <td>1.180	</td>
            <td>$50.000</td>
            <td>$200</td>
            <td>No</td>
          </tr>
          <tr class="even">
            <td>$10k Midweek Moolah Q1</td>
            <td>20:00</td>
            <td>22:00	</td>
            <td>25	</td>
            <td>$450</td>
            <td>$5</td>
            <td>No</td>
          </tr>
          </tbody>
        </table>
        <div class="pagination">
          <ul>
            <li><a href="#" class="current-page">1</a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
          </ul>
        </div>
        <div class="clr"></div>
      </div>
    </div>
    <!--tab news end -->
    <!--tab comment start -->
    <div class="tab_inner">
      <div class="sorted_display">
        <h4>We have 32 tournaments for you</h4>
        <table class="tournament_list">
          <thead>
          <tr>
            <th>Tournament</th>
            <th>Starts in</th>
            <th>Ends</th>
            <th>Players enrolled</th>
            <th>Prize pool</th>
            <th>Entry</th>
            <th>Bonus?</th>
          </tr>
          </thead>
          <tbody>
          <tr class="even">
            <td>Master of the Table</td>
            <td>19:30	</td>
            <td>20:30	</td>
            <td>22	</td>
            <td>$18.000</td>
            <td>$50</td>
            <td>Yes</td>
          </tr>

          <tr class="odd">
            <td>Wild Card</td>
            <td>20:00	</td>
            <td>21:00</td>
            <td>1.180	</td>
            <td>$50.000</td>
            <td>$200</td>
            <td>No</td>
          </tr>
          <tr class="even">
            <td>$10k Midweek Moolah Q1</td>
            <td>20:00</td>
            <td>22:00	</td>
            <td>25	</td>
            <td>$450</td>
            <td>$5</td>
            <td>No</td>
          </tr>
          <tr class="odd">
            <td>$100 '3hr' Reloader</td>
            <td>20:45</td>
            <td>21:15</td>
            <td>251	</td>
            <td>$5000</td>
            <td>$10</td>
            <td>Yes</td>
          </tr>
          <tr class="even">
            <td>Master of the Table</td>
            <td>19:30	</td>
            <td>20:30	</td>
            <td>22	</td>
            <td>$18.000</td>
            <td>$50</td>
            <td>Yes</td>
          </tr>



          <tr class="odd">
            <td>Wild Card</td>
            <td>20:00	</td>
            <td>21:00</td>
            <td>1.180	</td>
            <td>$50.000</td>
            <td>$200</td>
            <td>No</td>
          </tr>
          <tr class="even">
            <td>$10k Midweek Moolah Q1</td>
            <td>20:00</td>
            <td>22:00	</td>
            <td>25	</td>
            <td>$450</td>
            <td>$5</td>
            <td>No</td>
          </tr>
          <tr class="odd">
            <td>$100 '3hr' Reloader</td>
            <td>20:45</td>
            <td>21:15</td>
            <td>251	</td>
            <td>$5000</td>
            <td>$10</td>
            <td>Yes</td>
          </tr>
          <tr class="even">
            <td>Master of the Table</td>
            <td>19:30	</td>
            <td>20:30	</td>
            <td>22	</td>
            <td>$18.000</td>
            <td>$50</td>
            <td>Yes</td>
          </tr>

          <tr class="odd">
            <td>Wild Card</td>
            <td>20:00	</td>
            <td>21:00</td>
            <td>1.180	</td>
            <td>$50.000</td>
            <td>$200</td>
            <td>No</td>
          </tr>
          <tr class="even">
            <td>$10k Midweek Moolah Q1</td>
            <td>20:00</td>
            <td>22:00	</td>
            <td>25	</td>
            <td>$450</td>
            <td>$5</td>
            <td>No</td>
          </tr>
          <tr class="odd">
            <td>$100 '3hr' Reloader</td>
            <td>20:45</td>
            <td>21:15</td>
            <td>251	</td>
            <td>$5000</td>
            <td>$10</td>
            <td>Yes</td>
          </tr>
          <tr class="even">
            <td>Master of the Table</td>
            <td>19:30	</td>
            <td>20:30	</td>
            <td>22	</td>
            <td>$18.000</td>
            <td>$50</td>
            <td>Yes</td>
          </tr>

          <tr class="odd">
            <td>Wild Card</td>
            <td>20:00	</td>
            <td>21:00</td>
            <td>1.180	</td>
            <td>$50.000</td>
            <td>$200</td>
            <td>No</td>
          </tr>
          <tr class="even">
            <td>$10k Midweek Moolah Q1</td>
            <td>20:00</td>
            <td>22:00	</td>
            <td>25	</td>
            <td>$450</td>
            <td>$5</td>
            <td>No</td>
          </tr>
          <tr class="odd">
            <td>$100 '3hr' Reloader</td>
            <td>20:45</td>
            <td>21:15</td>
            <td>251	</td>
            <td>$5000</td>
            <td>$10</td>
            <td>Yes</td>
          </tr>
          <tr class="even">
            <td>Master of the Table</td>
            <td>19:30	</td>
            <td>20:30	</td>
            <td>22	</td>
            <td>$18.000</td>
            <td>$50</td>
            <td>Yes</td>
          </tr>

          <tr class="odd">
            <td>Wild Card</td>
            <td>20:00	</td>
            <td>21:00</td>
            <td>1.180	</td>
            <td>$50.000</td>
            <td>$200</td>
            <td>No</td>
          </tr>
          <tr class="even">
            <td>$10k Midweek Moolah Q1</td>
            <td>20:00</td>
            <td>22:00	</td>
            <td>25	</td>
            <td>$450</td>
            <td>$5</td>
            <td>No</td>
          </tr>



          </tbody>
        </table>
        <div class="pagination">
          <ul>
            <li><a href="#" class="current-page">1</a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
          </ul>
        </div>
        <div class="clr"></div>
      </div>
    </div>
    <!--tab comment end -->
    <!--tab comment start -->
    <div class="tab_inner">
      <div class="sorted_display">
        <h4>We have 32 tournaments for you</h4>
        <table class="tournament_list">
          <thead>
          <tr>
            <th>Tournament</th>
            <th>Starts in</th>
            <th>Ends</th>
            <th>Players enrolled</th>
            <th>Prize pool</th>
            <th>Entry</th>
            <th>Bonus?</th>
          </tr>
          </thead>
          <tbody>

          <tr class="odd">
            <td>Wild Card</td>
            <td>20:00	</td>
            <td>21:00</td>
            <td>1.180	</td>
            <td>$50.000</td>
            <td>$200</td>
            <td>No</td>
          </tr>
          <tr class="even">
            <td>$10k Midweek Moolah Q1</td>
            <td>20:00</td>
            <td>22:00	</td>
            <td>25	</td>
            <td>$450</td>
            <td>$5</td>
            <td>No</td>
          </tr>
          <tr class="odd">
            <td>$100 '3hr' Reloader</td>
            <td>20:45</td>
            <td>21:15</td>
            <td>251	</td>
            <td>$5000</td>
            <td>$10</td>
            <td>Yes</td>
          </tr>
          <tr class="even">
            <td>Master of the Table</td>
            <td>19:30	</td>
            <td>20:30	</td>
            <td>22	</td>
            <td>$18.000</td>
            <td>$50</td>
            <td>Yes</td>
          </tr>

          <tr class="odd">
            <td>Wild Card</td>
            <td>20:00	</td>
            <td>21:00</td>
            <td>1.180	</td>
            <td>$50.000</td>
            <td>$200</td>
            <td>No</td>
          </tr>
          <tr class="even">
            <td>$10k Midweek Moolah Q1</td>
            <td>20:00</td>
            <td>22:00	</td>
            <td>25	</td>
            <td>$450</td>
            <td>$5</td>
            <td>No</td>
          </tr>
          <tr class="odd">
            <td>$100 '3hr' Reloader</td>
            <td>20:45</td>
            <td>21:15</td>
            <td>251	</td>
            <td>$5000</td>
            <td>$10</td>
            <td>Yes</td>
          </tr>
          <tr class="even">
            <td>Master of the Table</td>
            <td>19:30	</td>
            <td>20:30	</td>
            <td>22	</td>
            <td>$18.000</td>
            <td>$50</td>
            <td>Yes</td>
          </tr>

          <tr class="odd">
            <td>Wild Card</td>
            <td>20:00	</td>
            <td>21:00</td>
            <td>1.180	</td>
            <td>$50.000</td>
            <td>$200</td>
            <td>No</td>
          </tr>
          <tr class="even">
            <td>$10k Midweek Moolah Q1</td>
            <td>20:00</td>
            <td>22:00	</td>
            <td>25	</td>
            <td>$450</td>
            <td>$5</td>
            <td>No</td>
          </tr>
          <tr class="odd">
            <td>$100 '3hr' Reloader</td>
            <td>20:45</td>
            <td>21:15</td>
            <td>251	</td>
            <td>$5000</td>
            <td>$10</td>
            <td>Yes</td>
          </tr>
          <tr class="even">
            <td>Master of the Table</td>
            <td>19:30	</td>
            <td>20:30	</td>
            <td>22	</td>
            <td>$18.000</td>
            <td>$50</td>
            <td>Yes</td>
          </tr>

          <tr class="odd">
            <td>Wild Card</td>
            <td>20:00	</td>
            <td>21:00</td>
            <td>1.180	</td>
            <td>$50.000</td>
            <td>$200</td>
            <td>No</td>
          </tr>
          <tr class="even">
            <td>$10k Midweek Moolah Q1</td>
            <td>20:00</td>
            <td>22:00	</td>
            <td>25	</td>
            <td>$450</td>
            <td>$5</td>
            <td>No</td>
          </tr>
          <tr class="odd">
            <td>$100 '3hr' Reloader</td>
            <td>20:45</td>
            <td>21:15</td>
            <td>251	</td>
            <td>$5000</td>
            <td>$10</td>
            <td>Yes</td>
          </tr>
          <tr class="even">
            <td>Master of the Table</td>
            <td>19:30	</td>
            <td>20:30	</td>
            <td>22	</td>
            <td>$18.000</td>
            <td>$50</td>
            <td>Yes</td>
          </tr>

          <tr class="odd">
            <td>Wild Card</td>
            <td>20:00	</td>
            <td>21:00</td>
            <td>1.180	</td>
            <td>$50.000</td>
            <td>$200</td>
            <td>No</td>
          </tr>
          <tr class="even">
            <td>$10k Midweek Moolah Q1</td>
            <td>20:00</td>
            <td>22:00	</td>
            <td>25	</td>
            <td>$450</td>
            <td>$5</td>
            <td>No</td>
          </tr>
          <tr class="odd">
            <td>$100 '3hr' Reloader</td>
            <td>20:45</td>
            <td>21:15</td>
            <td>251	</td>
            <td>$5000</td>
            <td>$10</td>
            <td>Yes</td>
          </tr>
          <tr class="even">
            <td>Master of the Table</td>
            <td>19:30	</td>
            <td>20:30	</td>
            <td>22	</td>
            <td>$18.000</td>
            <td>$50</td>
            <td>Yes</td>
          </tr>

          <tr class="odd">
            <td>Wild Card</td>
            <td>20:00	</td>
            <td>21:00</td>
            <td>1.180	</td>
            <td>$50.000</td>
            <td>$200</td>
            <td>No</td>
          </tr>
          <tr class="even">
            <td>$10k Midweek Moolah Q1</td>
            <td>20:00</td>
            <td>22:00	</td>
            <td>25	</td>
            <td>$450</td>
            <td>$5</td>
            <td>No</td>
          </tr>
          <tr class="odd">
            <td>$100 '3hr' Reloader</td>
            <td>20:45</td>
            <td>21:15</td>
            <td>251	</td>
            <td>$5000</td>
            <td>$10</td>
            <td>Yes</td>
          </tr>
          <tr class="even">
            <td>Master of the Table</td>
            <td>19:30	</td>
            <td>20:30	</td>
            <td>22	</td>
            <td>$18.000</td>
            <td>$50</td>
            <td>Yes</td>
          </tr>

          <tr class="odd">
            <td>Wild Card</td>
            <td>20:00	</td>
            <td>21:00</td>
            <td>1.180	</td>
            <td>$50.000</td>
            <td>$200</td>
            <td>No</td>
          </tr>
          <tr class="even">
            <td>$10k Midweek Moolah Q1</td>
            <td>20:00</td>
            <td>22:00	</td>
            <td>25	</td>
            <td>$450</td>
            <td>$5</td>
            <td>No</td>
          </tr>
          </tbody>
        </table>
        <div class="pagination">
          <ul>
            <li><a href="#" class="current-page">1</a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
          </ul>
        </div>
        <div class="clr"></div>
      </div>
    </div>
    <!--tab comment end -->
    <!--tab comment start -->
    <div class="tab_inner">
      <div class="sorted_display">
        <h4>We have 32 tournaments for you</h4>
        <table class="tournament_list">
          <thead>
          <tr>
            <th width="5%">#</th>
            <th width="5%">$</th>
            <th width="10%">credits</th>
            <th width="10%">confirm</th>
            <th width="40%">date time </th>
          </tr>
          </thead>
          <tbody>


          </tr>
          <% isOdd = false
             if @orders && @orders.any?
               isOdd = !isOdd
          %>
              <% @orders.each do |order| %>
                  <tr class="<% isOdd ? 'odd' : 'even' %>">
                    <td><%= order.try(:id) %></td>
                    <td><%= order.try(:credit).try(:fcost) %></td>
                    <td><%= order.try(:credit).try(:fcredits) %></td>
                    <% if order.try(:dt).try(:present?) %>
                        <td> <%= order.try(:status) %> </td>
                        <td> <%= fdate order.try(:dt) %> </td>
                    <% else %>
                        <td><%= link_to(image_tag("btn_xpress_checkout"), express_checkout_path(order_id: order.try(:id), credit_id: order.try(:credit).try(:id)), class: "btn btn-justified") %></td>
                        <td> - </td>
                    <% end %>
                  </tr>
              <% end %>
          <% else %>
              <tr><td colspan="5">No orders</td></tr>
          <% end %>
          </tbody>
        </table>
        <div class="pagination">
          <ul>
            <li><a href="#" class="current-page">1</a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
          </ul>
        </div>
        <div class="clr"></div>
      </div>
    </div>
    <!--tab comment end -->
  </div>
</div>
<!--tab end -->