<div class="container container-narrow content">
  <div class="row" id="home">
    <div class="col-xs-12">
      <%= render partial: "shared/errors_flash" %>
      <%= render partial: "shared/errors", locals: {obj: @user} %>
      <div class="bg-black credits text-center">
        <!--<h2 class="text-center dark">Orders</h2>-->
        <h3 class="text-center bg-red2">Orders</h3>
        <table class="table table-responsive">
          <thead class="text-center">
          <tr>
            <th width="1%">#</th>
            <th width="1%">$</th>
            <th width="20%">credits</th>
            <th width="10%">email</th>
            <th width="10%">confirm</th>
            <th width="10%">status</th>
          </tr>
          </thead>
          <tbody>
          <% if @orders && @orders.any? %>
              <% @orders.each do |order| %>
                  <tr>
                    <td><%= order.try(:id) %></td>
                    <td><%= order.try(:credit).try(:fcost) %></td>
                    <td><%= number_with_delimiter order.try(:credit).try(:fcredits) %></td>
                    <td><%= order.try(:user).try(:email) %></td>
                    <td>
                      <% if order.try(:dt).try(:present?) %>
                          confirmed
                      <% else %>
                          <%= link_to(image_tag("btn_xpress_checkout"), express_checkout_path(order_id: order.try(:id), credit_id: order.try(:credit).try(:id)), class: "btn btn-justified") %>
                      <% end %>
                    </td>
                    <td>
                      <%= order.try(:dt).try(:present?) ? "paid" : "unpaid" %>
                    </td>
                  </tr>
              <% end %>
          <% else %>
              No orders
          <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <!-- /.row -->

  <%= render partial: 'shared/back_to_top' %>

</div>