<div class="container container-narrow content">
  <div class="row" id="home">
    <div class="col-xs-12 text-center bg-black credits">
      <%= render partial: "shared/errors_flash" %>
      <% if @order.present? %>
          <h2 class="text-center bg-red2">Confirm order</h2>

          <p>Email: <%= @order.try(:user).try(:email) %></p>

          <p>Order # <%= @order.try(:id) %></p>

          <p>$<%= @order.try(:credit).try(:cost_in_cents)/100 rescue 0 %>
            - <%= @order.try(:credit).try(:credits).try(:to_i) %> credits</p>

          <%= link_to(image_tag("btn_xpress_checkout"), express_checkout_path(order_id: @order.try(:id), credit_id: @order.try(:credit).try(:id)), class: "btn btn-justified") %>
      <% else %>
          <h2 class="bg-red2">Order not found</h2>
      <% end %>
    </div>
  </div>
  <!-- /.row -->
  <br/>
  <%= render partial: 'shared/back_to_top' %>
</div>
