
<footer>
  <div class="row">
    <div class="col-xs-4">
      <div class="ribbon1 text-center">
        <a href="<%= credits_url %>">
          <%= image_tag "cashe-credit-banner", class: "img-responsive", alt: "win more credits" %>
          <br>
          <span>Cash, Credits <br>and <br>Free Spins!</span>
        </a>
      </div>
      <div class="ribbon2 text-center">
        <%= image_tag "footer_logo-bg", class: "img-responsive" %>
        <a href="<%= root_path %>">
          <%= image_tag "logo.png", class: "img-responsive", alt: "logo" %>
        </a>
        <br>
        <span class="">All Rights <br>Reserved <%= Date.today.year %> </span>
      </div>
    </div>

    <div class="col-xs-8">
      <div class="row">
        <div class="col-xs-12 col-md-4">
          <%= link_to image_tag("games/texas_holdem_low.gif", alt: "", class: "img-responsive col-xs-12", height: "130px", width: "auto"), th_game_url %>
        </div>
        <div class="col-xs-12 col-md-4">
          <p style="color:lightgray"><%= t("th.about") %></p>
        </div>
        <div class="col-xs-12 col-md-4">
          <%= link_to image_tag("buttons/app_store.png", class: "img-responsive col-xs-12", width: "100%"), I18n.t("th.btn.app_store.url"), alt: I18n.t("th.btn.app_store.alt") %>
          <%= link_to image_tag("buttons/google_play.png", class: "img-responsive col-xs-12", width: "100%"), I18n.t("th.btn.google_play.url"), alt: I18n.t("th.btn.google_play.alt") %>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-6">
          <ul>
            <li><a href="<%= root_path %>#home"><%= t("menu.home") %> </a></li>
            <li><a href="<%= games_path %>"><%= t("menu.games") %></a></li>
            <% if current_user %>
                <li><a href="<%= user_orders_path(current_user) %>"><%= t("menu.orders") %></a></li>
                <li><a href="<%= user_path(current_user) %>"><%= t("menu.profile") %></a></li>
                <li><a href="<%= signout_path %>"><%= t("menu.sign_out") %></a></li>
            <% else %>
                <li><a href="<%= sign_in_up_path %>"><%= t("menu.sign_in") %></a></li>
                <li><a href="<%= sign_in_up_path %>"><%= t("menu.sign_up") %></a></li>
                <li><a href="<%= root_path %>#credits"><%= t("menu.credits") %></a></li>
            <% end %>
          </ul>
        </div>
        <div class="col-xs-6">
          <ul>
            <!--<li><a href="#">About Us</a></li>-->
            <li><a href="<%= root_url %>privacypolicy.htm">Privacy Policy</a></li>
            <!--<li><a href="#">Responsible Gambling</a></li>-->
            <!--<li><a href="#">Terms and Conditions</a></li>-->
            <!--<li><a href="#">Sitemap</a></li>-->
            <!--<li><a href="#">Affiliate Program</a></li>-->
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>
