<div class="row" id="m_signup">

</div>
<div class="row" id="m_signup">

  <%= render partial: "shared/errors_flash" %>
  <%= render partial: "shared/errors", locals: {obj: @user} %>
  <div class="col-xs-12">
    <a href="uniwebview://close" class="btn btn-default"> X CLOSE</a>
    <a href="<%=sign_in_up_path%>" class="btn btn-default">got to website</a>
    </div>

  <div class="col-xs-12 col-sm-6">
    <h1 class="bg-red2 text-center"><%= t("sign.up") %></h1>
    <%= link_to image_tag("facebook_signup", class:'img-responsive col-xs-12'), '/auth/facebook', class: '' %>

    <!--<h2 class="text-center"><i class="glyphicon glyphicon-log-in"></i> <%= t("register") %></h2>-->
    <%= render partial: "shared/sign_up_form" %>
  </div>

  <div class="col-xs-12 col-sm-6">
    <h1 class="bg-red2 text-center"><%= t("sign.in") %></h1>
    <%= link_to image_tag("facebook_signin", class:'img-responsive col-xs-12'), '/auth/facebook', class: '' %>

    <!--<h2 class="text-center"><i class="glyphicon glyphicon-log-in"></i> <%= t("login") %></h2>-->
    <%= render partial: "shared/sign_in_form" %>
  </div>

</div>
