<div class="row">
  <div class="col-xs-1">

  </div>
  <div class="col-xs-2"><%= t("th.promos.free_apps") %></div>
  <div class="col-xs-6">
    <%= image_tag "logo", class: "img-responsive" %>
  </div>
  <div class="col-xs-2"><%= t("th.promos.promo") %></div>
  <div class="col-xs-1">
    <%= image_tag "leaf.png", class: "leaf img-responsive" %>

  </div>
</div>
<div class="row">
  <div class="col-xs-2">
    <%= image_tag "left_reb.png", class: "img-responsive" %>

  </div>
  <div class="col-xs-8">
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <!--<a class="navbar-brand" href="#">Brand</a>-->
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <!--<li role="separator" class="divider"></li>-->
            <li class="home active"><a href="<%= root_path %>#home"><%= t("menu.home") %> </a></li>
            <li class="getting_started"><a href="<%= games_path %>"><%= t("menu.games") %></a></li>
            <% if current_user %>
                <li class="payment_method"><a href="<%= user_orders_path(current_user) %>"><%= t("menu.orders") %></a>
                </li>
                <li class="games"><a href="<%= user_path(current_user) %>"><%= t("menu.profile") %></a></li>
                <li class="contact"><a href="<%= signout_path %>"><%= t("menu.sign_out") %></a></li>
            <% else %>
                <li class="contact"><a href="<%= sign_in_up_path %>"><%= t("menu.sign_in") %></a></li>
                <li class="contact"><a href="<%= sign_in_up_path %>"><%= t("menu.sign_up") %></a></li>
                <li class="tournament"><a href="<%= root_path %>#credits"><%= t("menu.credits") %></a></li>
            <% end %>
            <!--<li class="aboutus"><a href="#"><%= t("menu.about") %></a></li>-->
            <li class="contact_us"><a href="<%= contact_us_get_path %>" class=""><%= t("menu.contact_us") %></a></li>
          </ul>

        </div>
        <!-- /.navbar-collapse -->
      </div>
      <!-- /.container-fluid -->
    </nav>

  </div>
  <div class="col-xs-2">
    <%= image_tag "right_reab.png", class: "img-responsive" %>

  </div>
</div>


<div class="row section04">
  <div class="col-xs-4">
    <%= link_to image_tag("buttons/app_store.png", class: "img-responsive col-xs-12", width: " 100%"), I18n.t("th.btn.app_store.url"), alt: I18n.t("th.btn.app_store.alt") %>
    <%= link_to image_tag("buttons/google_play.png", class: "img-responsive col-xs-12", width: "100%"), I18n.t("th.btn.google_play.url"), alt: I18n.t("th.btn.google_play.alt") %>
  </div>
  <div class="col-xs-8">
    <h3>game of the week</h3>

    <div class="img-frame">
      <a href="<%= th_game_url %>"><%= image_tag "games/texas_holdem.gif", height: "100%", width: "484px", alt: "", class: "img-responsive col-xs-12" %></a>
    </div>
    <div class="playnow01"><a href="<%= th_game_url %>">
      <%#= image_tag "game-playnow-btn.png", alt:"Play Now", class: "img-responsive col-xs-12" #%>
    </a></div>
  </div>
</div>


<!--<div class="row">-->
<!--<div class="col-xs-1 col-xs-offset-1">-->
<!--<%#= image_tag "heart-shape.png", class: "heartshape", alt: "" #%>-->
<!--</div>-->
<!--<div class="col-xs-8 col-xs-offset-2">-->
<!--<%#= render partial: "games/tab_list" #%>-->
<!--</div>-->
<!--</div>-->

<div class="row">
  <!--<div class="col-xs-2">-->
  <!--<%= image_tag "heart-shape.png", class: "heartshape", alt: "" %>-->
  <!--</div>-->
  <!--<div class="col-xs-9 col-xs-push-1">-->

  <div class="col-xs-10 col-xs-push-1 col-xs-pull-1">
    <%= image_tag "try-mobile.png", alt: "" %>


    <h3><%= t("game.s.title1") %> <span class="boldtxt"> <%= t("game.s.title2") %></span>
      <span class="badge"><%= @games.try(:count) %></span>
    </h3>


    <script>
        $('#myTabs a').click(function (e) {
            e.preventDefault()
            $(this).tab('show')
        })
    </script>
    <div>

      <!-- Nav tabs -->
      <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active">
          <a href="#home" aria-controls="home" role="tab" data-toggle="tab">Popular Games</a></li>
        <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">New Games</a>
        </li>
        <li role="presentation"><a href="#messages" aria-controls="messages" role="tab" data-toggle="tab">A-Z</a></li>
      </ul>

      <!-- Tab panes -->
      <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="home">
          <% if @games.present? && @games.any? %>
              <div class="row">
                <% @games.try(:order, counter: :desc).each do |game| %>
                    <%= render partial: "mobile/game", locals: {game: game} %>
                <% end %>
              </div>
          <% else %>
              <p class="big text-center"><%= t("game.s.not_found") %></p>
          <% end %>
        </div>
        <div role="tabpanel" class="tab-pane" id="profile">
          <% if @games.present? && @games.any? %>
              <div class="row">
                <% @games.order(created_at: :desc).each do |game| %>
                    <%= render partial: "mobile/game", locals: {game: game} %>
                <% end %>
              </div>
          <% else %>
              <p class="big text-center"><%= t("game.s.not_found") %></p>
          <% end %>
        </div>
        <div role="tabpanel" class="tab-pane" id="messages">
          <% if @games.present? && @games.any? %>
              <div class="row">
                <% @games.try(:order, :title).each do |game| %>
                    <%= render partial: "mobile/game", locals: {game: game} %>
                <% end %>
              </div>
          <% else %>
              <p class="big text-center"><%= t("game.s.not_found") %></p>
          <% end %>
        </div>
      </div>

    </div>

  </div>
</div>




<div class="row">
  <div class="col-xs-6">
    <%= t("credit.s.fortune_wheel") %>
    <%= render partial: "shared/fortune_wheel" %>
  </div>
  <div class="col-xs-6">

    <% if @creditList.present? && @creditList.any? %>
        <% if current_user
             class_list = "credits"
             btn_label = "Buy"
             url = user_orders_path(current_user)
           else
             class_list = "credits_big"
             btn_label = "Login and Buy"
             url = signin_path
           end %>
        <table class="table table-striped table-hover">
          <thead>
          <tr>
            <th>$</th>
            <th>credits</th>
            <th>action</th>
          </tr>
          </thead>
          <tbody>
          <% @creditList.each do |credit| %>
              <%= render partial: "orders/form_btn_buy", locals: {object: credit.try(:order) || @order, credit: credit, btn_label: btn_label} %>
          <% end %>
          </tbody>
          <tfoot>
          <tr>
            <td colspan="3"></td>
          </tr>
          </tfoot>
        </table>
    <% else %>
        <%= t("credit.s.not_found") %>
    <% end %>

  </div>
</div>

<!--video-->
<div class="row">
  <div class="col-xs-2"></div>
  <div class="col-xs-8">
    <%= video_tag "video.mov", size: "400x720", controls: true %>
  </div>
  <div class="col-xs-2"></div>
</div>



<!--footer-->

<!--<div class="row">-->
  <!--<div class="col-xs-4 col-xs-offset-1">-->
    <!--<%= image_tag("cashe-credit-banner") %>-->
  <!--</div>-->
  <!--<div class="col-xs-8">-->

  <!--</div>-->
<!--</div>-->

<!-- /.container -->
   <div class="bg-red">
    <div class="container container-narrow">
      <div class="row">
        <div class="col-xs-3">
          <div class="ribbon1 text-center">
            <a href="<%= credits_url %>">
              <%= image_tag "cashe-credit-banner", class: "", alt: "win more credits" %>
              <br>
              <span>Cash, Credits <br>and <br>Free Spins!</span>
            </a>
          </div>
          <div class="ribbon text-center">
            <a href="<%= root_path %>">
              <%= image_tag "logo.png", class: "img-responsive", alt: "logo" %>
            </a>
            <br>
            <span class="">All Rights <br>Reserved <%= Date.today.year %> </span>
          </div>
        </div>

        <div class="col-xs-offset-1 col-xs-8">
          <a href="<%= credits_url %>">
            <h3>Get more credits now</h3>
          </a>

          <a href="<%= sign_in_up_url %>">
            <p class="big">register or login to the website and will get the bonus</p>
          </a>

          <!--<ul>-->
          <!--<li>Texas Holdem</li>-->
          <!--</ul>-->
        </div>
      </div>
    </div>
  </div>
  <div class="with-ribbon bg-black">
    <div class="container container-narrow">
      <div class="row">
        <div class="col-xs-3">
        </div>
        <div class="col-xs-offset-1 col-xs-8 valign">
          <p>Navigation Menu:</p>

          <a href="<%= root_path %>#home">Home</a><br>
          <a href="<%= root_path %>#games">Games</a><br>
          <a href="<%= root_path %>#credits">Credits</a><br>
          <a href="<%= root_path %>#sign_up_in">Sign Up</a><br>
          <a href="<%= root_path %>#sign_up_in">Sign In</a><br>

          <!--<a href="#">Downloads</a><br>-->
          <!--<a href="#">About</a><br>-->
          <!--<a href="#">Contact</a><br>-->
        </div>
      </div>
    </div>
  </div>

