<div class="row">
  <div class="col-xs-1">

  </div>
  <div class="col-xs-2"><%= t("th.promos.free_apps") %></div>
  <div class="col-xs-6">
    <%= image_tag "logo", class: "img-responsive" %>
  </div>
  <div class="col-xs-2"><%= t("th.promos.promo") %></div>
  <div class="col-xs-1">
    <%= image_tag "leaf.png", class: "leaf img-responsive" %>

  </div>
</div>
<div class="row">
  <div class="col-xs-2">
    <%= image_tag "left_reb.png", class: "img-responsive" %>

  </div>
  <div class="col-xs-8">
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <!--<a class="navbar-brand" href="#">Brand</a>-->
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <!--<li role="separator" class="divider"></li>-->
            <li class="home active"><a href="<%= root_path %>#home"><%= t("menu.home") %> </a></li>
            <li class="getting_started"><a href="<%= games_path %>"><%= t("menu.games") %></a></li>
            <% if current_user %>
                <li class="payment_method"><a href="<%= user_orders_path(current_user) %>"><%= t("menu.orders") %></a>
                </li>
                <li class="games"><a href="<%= user_path(current_user) %>"><%= t("menu.profile") %></a></li>
                <li class="contact"><a href="<%= signout_path %>"><%= t("menu.sign_out") %></a></li>
            <% else %>
                <li class="contact"><a href="<%= sign_in_up_path %>"><%= t("menu.sign_in") %></a></li>
                <li class="contact"><a href="<%= sign_in_up_path %>"><%= t("menu.sign_up") %></a></li>
                <li class="tournament"><a href="<%= root_path %>#credits"><%= t("menu.credits") %></a></li>
            <% end %>
            <!--<li class="aboutus"><a href="#"><%= t("menu.about") %></a></li>-->
            <li class="contact_us"><a href="<%= contact_us_get_path %>" class=""><%= t("menu.contact_us") %></a></li>
          </ul>

        </div>
        <!-- /.navbar-collapse -->
      </div>
      <!-- /.container-fluid -->
    </nav>

  </div>
  <div class="col-xs-2">
    <%= image_tag "right_reab.png", class: "img-responsive" %>

  </div>
</div>


<div class="row section04">
  <div class="col-xs-4">
    <%= link_to image_tag("buttons/app_store.png", class: "img-responsive col-xs-12", width: " 100%"), I18n.t("th.btn.app_store.url"), alt: I18n.t("th.btn.app_store.alt") %>
    <%= link_to image_tag("buttons/google_play.png", class: "img-responsive col-xs-12", width: "100%"), I18n.t("th.btn.google_play.url"), alt: I18n.t("th.btn.google_play.alt") %>
  </div>
  <div class="col-xs-8">
    <h3>game of the week</h3>

    <div class="img-frame">
      <a href="<%= th_game_url %>"><%= image_tag "games/texas_holdem.gif", height: "100%", width: "484px", alt: "", class: "img-responsive col-xs-12" %></a>
    </div>
    <div class="playnow01"><a href="<%= th_game_url %>">
      <%#= image_tag "game-playnow-btn.png", alt:"Play Now", class: "img-responsive col-xs-12" #%>
    </a></div>
  </div>
</div>


<!--<div class="row">-->
  <!--<div class="col-xs-1 col-xs-offset-1">-->
    <!--<%#= image_tag "heart-shape.png", class: "heartshape", alt: "" #%>-->
  <!--</div>-->
  <!--<div class="col-xs-8 col-xs-offset-2">-->
    <!--<%#= render partial: "games/tab_list" #%>-->
  <!--</div>-->
<!--</div>-->

<div class="row">
  <!--<div class="col-xs-2">-->
    <!--<%= image_tag "heart-shape.png", class: "heartshape", alt: "" %>-->
  <!--</div>-->
  <!--<div class="col-xs-9 col-xs-push-1">-->

  <div class="col-xs-10 col-xs-push-1 col-xs-pull-1">
    <%= image_tag "try-mobile.png", alt: "" %>


    <h3><%= t("game.s.title1") %> <span class="boldtxt"> <%= t("game.s.title2") %></span>
      <span class="badge"><%= @games.try(:count) %></span>
    </h3>


    <script>
        $('#myTabs a').click(function (e) {
            e.preventDefault()
            $(this).tab('show')
        })
    </script>
    <div>

      <!-- Nav tabs -->
      <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">Popular Games</a></li>
        <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">New Games</a></li>
        <li role="presentation"><a href="#messages" aria-controls="messages" role="tab" data-toggle="tab">A-Z</a></li>
      </ul>

      <!-- Tab panes -->
      <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="home">
          <% if @games.present? && @games.any? %>
              <div class="row">
              <% @games.try(:order, counter: :desc).each do |game| %>
                  <%= render partial: "mobile/game", locals: {game: game} %>
              <% end %>
              </div>
          <% else %>
              <p class="big text-center"><%=t("game.s.not_found")%></p>
          <% end %>
        </div>
        <div role="tabpanel" class="tab-pane" id="profile">
          <% if @games.present? && @games.any? %>
              <div class="row">
              <% @games.order(created_at: :desc).each do |game| %>
                  <%= render partial: "mobile/game", locals: {game: game} %>
              <% end %>
              </div>
          <% else %>
              <p class="big text-center"><%=t("game.s.not_found")%></p>
          <% end %>
        </div>
        <div role="tabpanel" class="tab-pane" id="messages">
          <% if @games.present? && @games.any? %>
              <div class="row">
              <% @games.try(:order, :title).each do |game| %>
                  <%= render partial: "mobile/game", locals: {game: game} %>
              <% end %>
              </div>
          <% else %>
              <p class="big text-center"><%=t("game.s.not_found")%></p>
          <% end %>
        </div>
      </div>

    </div>

  </div>
</div>




