<div id="contentarea_1">
  <div class="section03">
    <div class="game_play">
      <% if current_user || @game.is_skipped_login? %>
        <iframe src="<%= @game.try(:url) %>" class="col-xs-12" width="100%" height="600px" allowfullscreen="true" frameBorder="0"></iframe>
      <% else %>
        <a href="<%= sign_in_up_path %>"><%= t("login_first")%></a>
      <% end%>
    </div>

    <br><br>

    <div class="left_content">
      <h2 class="title"><%= @game.try(:title) %></h2>
      <p class="big text-center"><%= @game.try(:text) %>
    </div>

    <div class="rightside_section">
      <%= render partial: "shared_new/rsidebar_games" %>
    </div>

    <div class="clr"></div>
  </div>
</div>
