<%
   top = 10
   days_in_month = Time.days_in_month(Time.now.month, Time.now.year) #.months_ago(1).month)
   dt_utc = DateTime.now.utc #.months_ago(1) prev month
   dt1 = DateTime.new(dt_utc.year, dt_utc.month, 1).strftime("%Y-%m-%d")
   dt2 = DateTime.new(dt_utc.year, dt_utc.month, days_in_month).strftime("%Y-%m-%d")
   time_range = dt1..dt2
%>

<h2> Total credits earned while playing the each game for a calendar month </h2>
<table class="index_table index">
  <thead>
  <tr>
    <th>#</th>
    <th>Player</th>
    <th>Credits</th>
  </tr>
  </thead>
  <tbody>
  <% no=0
     total_amount = 0
     ScoreHistory.joins(:game).where('created_at' => time_range).
             select("sum(amount) as sum_amount, games.title as gtitle").
             group("gtitle").
             order("sum_amount DESC").each do |score|
       total_amount += score.sum_amount
       no+=1
  %>

      <tr>
        <td><%= no %></td>
        <td><%= score.gtitle %></td>
        <td><%= score.sum_amount %></td>
      </tr>
  <% end %>
  <tr>

    <td></td>
    <td><b>Totally</b></td>
    <td><b><%#= ScoreHistory.where('created_at' => time_range).sum(:amount) #%><%= total_amount %>  </b>
    </td>

  </tr>
  </tbody>
</table>
<br><br>

<h2>Total High Scores/Current Month</h2>
<table class="index_table index">
  <thead>
  <tr>
    <th>#</th>
    <th>Player</th>
    <th>Score</th>
    <th>Logins/month</th>
  </tr>
  </thead>
  <tbody>
  <% no = 0
     total_amount = 0
     ScoreHistory.joins(:user, :game).where('created_at' => time_range).
             select("games.title as gtitle, users.credits as credits, users.id as uid, users.full_name as fname, users.id as uid, sum(amount) as sum_amount").
             group("users.full_name").order("sum_amount DESC, credits DESC").
             take(top).each do |score|
       no+=1
       no=no%=top
       total_amount += score.try(:sum_amount)
  %>
      <tr>
        <td><%= no == 0 ? top : no %></td>
        <td><%= link_to score.try(:fname), admin_user_path(score.try(:uid)) %></td>
        <td><%= score.try(:sum_amount) %></td>
        <td><%= LoginHistory.where(created_at: time_range, user_id: score.try(:uid)).count %></td>
      </tr>
  <% end %>
  <tr>
    <td></td>
    <td><b>Totally</b></td>
    <td><b><%= total_amount %></b></td>
    <td></td>
  </tr>
  </tbody>
</table>
<br><br>


<h2>Every Day Logins/Current Month</h2>
<table class="index_table index">
  <thead>
  <tr>
    <th>#</th>
    <th>Player</th>
    <th>Logins/month</th>
  </tr>
  </thead>
  <tbody>
  <% gid = 0
     LoginHistory.
             joins(:user).
             where('created_at' => time_range).
             select("users.id as uid, users.full_name as fname, users.id as uid, count(count) as login_count").
             group("fname").
             order("login_count DESC").
             #take(top).
             limit(top).
             each do |login|
       gid += 1
  %>

      <tr>
        <td><%= gid %></td>
        <td><%= link_to login.try(:fname), admin_user_path(login.try(:uid)) %></td>
        <td>&nbsp<%= login.try(:login_count) %></td>
      </tr>
  <% end %>

  </table>
<br><br>

<h2>Top 10 Players For Each Game/Current Month</h2>

<% gid = 0
   Game.order(:title).each do |game| %>

    <h2><%= gid += 1 %>. <%= game.try(:title) %></h2>
    <table class="index_table index">
      <thead>
      <tr>
        <th>#</th>
        <th>Player</th>
        <th>Score</th>
      </tr>
      </thead>
      <tbody>
      <%
         no = 0
         sql="SELECT *, SUM(sc.amount) as sum, COUNT(u.id) as count_user FROM score_histories sc, users u, games g
       WHERE g.id = sc.game_id and u.id = sc.user_id AND g.id = #{game.try(:id)} AND sc.created_at >= '#{dt1}' AND sc.created_at <= '#{dt2}'
       GROUP BY g.title, u.full_name
       ORDER BY g.title, sum DESC limit #{top}";
         ScoreHistory.find_by_sql(sql).each do |score|
      %>
          <tr>
            <td><%= no+=1 %></td>
            <td><%= link_to score.try(:user).try(:full_name), admin_user_path(score.try(:user).try(:id)) %></td>
            <td><%= score.try(:sum) %></td>
          </tr>
      <% end %>
      </tbody>
    </table>
<% end %>

<br>
<br>

<% if current_user.present?
     user = current_user
%>
    <h2>top ten list for each game (example for user: <%= user.full_name %>)</h2>
    <%= render partial: "/admin/high_scores/top_10_in_all_games", locals: {user: user} %>
<% else %>
    <% user = User.find_by(email: "kosenkodmitryv@gmail.com") %>
    <% if user %>
        <h2>top ten list for each game (example for user: <%= user.full_name %>)</h2>
        <%= render partial: "/admin/high_scores/top_10_in_all_games", locals: {user: user} %>
    <% end %>

    <% user = User.find_by(email: "held.gary@gmail.com") %>
    <% if user %>
        <h2>top ten list for each game (example for user: <%= user.full_name %>)</h2>
        <%= render partial: "/admin/high_scores/top_10_in_all_games", locals: {user: user} %>
    <% end %>

    <% user = User.find_by(email: "mdabaker@aol.com") %>
    <% if user %>
        <h2>top ten list for each game (example for user: <%= user.full_name %>)</h2>
        <%= render partial: "/admin/high_scores/top_10_in_all_games", locals: {user: user} %>
    <% end %>
<% end %>