<% if user %>
    <% total_scores = 0 %>
    <table class="index_table index">
      <thead>
      <tr>
        <th>#</th>
        <th>Game</th>
        <th>Player</th>
        <th>Score</th>
      </tr>
      </thead>
      <tbody>
      <% Remind.user_in_top10_of_all_games_for_cur_mo(user).each do |item| %>
          <% total_scores += item[:uscores] %>
          <tr>
            <td><%= item[:no] %></td>
            <td><%= item[:gtitle] %></td>
            <td><%= item[:uname] %></td>
            <td><%= item[:uscores] %></td>
          </tr>
      <% end %>
      <tr>
        <td></td>
        <td></td>
        <td><b>Total Scores:</b></td>
        <td>
          <b><%= total_scores %></b></td>
      </tr>
      </tbody>
    </table>
<% end %>
