<!DOCTYPE html>
<html>
<head>
  <title>Texas Holdem</title>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

  <style type="text/css">embed[type*="application/x-shockwave-flash"], embed[src*=".swf"], object[type*="application/x-shockwave-flash"], object[codetype*="application/x-shockwave-flash"], object[src*=".swf"], object[codebase*="swflash.cab"], object[classid*="D27CDB6E-AE6D-11cf-96B8-444553540000"], object[classid*="d27cdb6e-ae6d-11cf-96b8-444553540000"], object[classid*="D27CDB6E-AE6D-11cf-96B8-444553540000"] {
      display: none !important;
  }</style>

  <script type="text/javascript">
      $(window).load(function () {
          effect:'fade',
                  $('#slider').nivoSlider()
      });
  </script>
</head>

<%= csrf_meta_tags %>
</head>
<body id="body">
<!--wrapper -->
<div id="wrapper">
  <%= render partial: "shared_new/top_section" %>

  <%= yield %>


  <%= render partial: "shared_new/content2_red_section" %>
  <%= render partial: "shared_new/content2_footer" %>
</div>
</body>
</html>
