<!DOCTYPE html>
<html>
<head>
  <title><%= t("head.title") %></title>

  <!-- You can use open graph tags to customize link previews.
    Learn more: https://developers.facebook.com/docs/sharing/webmasters -->
  <meta property="og:url"           content="https://yourplaceforfun.com/" />
  <meta property="og:type"          content="website" />
  <meta property="og:title"         content="You Place For Fun" />
  <meta property="og:description"   content="You could get 35,000 credits for sign up and win free credits every 24 hours!" />
  <meta property="og:image"         content="https://yourplaceforfun.com/logo.png" />

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

  <script type="text/javascript">
      $(window).load(function () {
          effect:'fade',
                  $('#slider').nivoSlider()
      });
  </script>
</head>
<% if is_mobile %>
    <!--<meta name=viewport content="width=device-width, initial-scale=1">-->
    <!--<meta name="viewport" content="width=device-width, initial-scale=0.2 maximum-scale=4, user-scalable=no">-->
<% end %>
<%= csrf_meta_tags %>
</head>
<body id="body">
<!--wrapper -->
<div id="wrapper">
  <%= render partial: "shared_new/top_section" %>

  <%= yield %>

  <%= render partial: "shared_new/content2_red_section" %>
  <%= render partial: "shared_new/content2_footer" %>
  <%= render partial: "shared_new/ga" if request.host.include?(Rails.configuration.x.api.host) %>

  <% if current_user %>
  <script>

      $(document).on('ready page:load page:change', function () {

          var myVar = setInterval(function(){ ajaxsend() }, 5000);
          function ajaxsend() {
              $.ajax({
                  url: "/get2",
                  type: "POST",
                  data: { "f": 1 },
                  success: function(resp){
                      $("#balance").html("You have <br><span>" + resp + "</span><br> credits");
//                      alert("Data:" + resp);
                  },
                  error: function(xhr, status, error){
                      $(".price").text(xhr.responseText);
//                      alert("Error update balance"+error+status+"\n"+xhr.responseText);
                  }
              });
          }
      });
  </script>
      <%end%>
</div>
</body>
</html>
