<!DOCTYPE html>
<html>
<head>
  <title><%= t("head.title") %></title>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

  <script type="text/javascript">
      $(window).load(function () {
          effect:'fade',
                  $('#slider').nivoSlider()
      });
  </script>
</head>
<% if is_mobile %>
    <!--<meta name=viewport content="width=device-width, initial-scale=1">-->
<% end %>
<%= csrf_meta_tags %>
</head>
<body id="body">
<!--wrapper -->
<div id="wrapper">
  <%= render partial: "shared_new/top_section" %>

  <%= yield %>

  <%= render partial: "shared_new/content2_red_section" %>
  <%= render partial: "shared_new/content2_footer" %>
  <%= render partial: "shared_new/ga" if request.host.include?(Rails.configuration.x.api.host) %>
</div>
</body>
</html>
